:javascript
  $(document).ready(function(){     
    window.controller = new App.Controllers.PreRegistrationsController(#{render template: "pre_registrations/edit.json.rabl"});
    App.init(); 
  });
