= simple_form_for @person do |f|
  =f.input :sex, :collection => [[t('terms.boy'),'male'],[t('terms.girl'),'female']],  :as => :radio
  =f.input :firstname
  =f.input :lastname
  =f.input :full_cpr, :as => :string
  =f.simple_fields_for :patient_responder_items, @responder_item do |r|
    =r.input :id, :as => :hidden
    =r.input :complete_item
  =f.submit t("actions.save")

