/* line 1, ../../../../app/stylesheets/partials/debug_header.sass */
#debug-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  border: 4px dashed #f9f900;
  background-color: rgba(255, 255, 0, 0.95);
}
/* line 8, ../../../../app/stylesheets/partials/debug_header.sass */
#debug-header ul {
  padding: 5px;
}
/* line 10, ../../../../app/stylesheets/partials/debug_header.sass */
#debug-header ul li {
  padding: 2px;
}
/* line 12, ../../../../app/stylesheets/partials/debug_header.sass */
#debug-header ul li span {
  color: #5fbf00;
  font-weight: bold;
}
/* line 15, ../../../../app/stylesheets/partials/debug_header.sass */
#debug-header ul li em {
  color: #0000bf;
}
