@import partials/base
#tml-body>ul
  +stretch-y
  z-index: 100
  // +background-image(linear-gradient(left, rgba(150, 150, 150, 0.15) 0%, rgba(0, 0, 0, 0) 50%, rgba(150, 150, 150, 0.15) 100%))
  background-color: fade_out($china3, .30)
  +background-image(linear-gradient(right bottom, rgba(255,255,255,.7) 0%,rgba(255,255,255,.3) 100%))
  +box-shadow(2px 1px 2px 1px rgba(0, 0, 0, 0.13) inset)
  padding-left: 2px
  padding-right: 2px
  +border-radius(4px 0 0 4px)
  li
    position: relative
    +box-sizing(border-box)
    border-bottom: 1px solid rgba(0,0,0,.12)
    border-top: 1px solid rgba(255,255,255,.7)
    &:nth-child(1)
      border-top: none
    &:last-child
      border-bottom: none
    &:hover .new-item.c-icon
      display: block
  p
    color: #444
    text-shadow: 0 1px 0 rgba(255,255,255,.9)
    text-align: center
    margin: 0 4px
    padding-top: 15px
    font-size: 1.1em
  .new-item
    display: none
    position: absolute
    bottom: 3px
    right: 3px
    font-size: 1.5em
    color: rgba(0,0,0,.5)
    background-color: rgba(255,255,255,0.1)
    +border-radius(5px)
    +box-shadow(1px 1px 1px 0px rgba(0,0,0,.2) inset)
    cursor: pointer
  .new-item:hover
    background-color: rgba(255,255,255,0.2)

