@import partials/base

$pending-color: #f90
$overdue-color: #e00
$completed-color: #0a0

#tml-history  .line
  // +transition-property(height)
  // +transition-duration(.5s)
  // +transition-timing-function(ease)
  .line-items
    position: relative
    height: 100%
    width: 100%

#tml-history .line-items > .item
  display: block
  position: absolute
  margin-left: -.14em
  +border-radius(20px)
  height: 12px
  width: 12px
  &.completed
    background: $completed-color
  &.pending
    background: $pending-color
  &.overdue
    background: $overdue-color
  &.pending:hover ul,
  &.overdue:hover ul   
    display: block
  & ul
    +border-radius(4px)
    +box-shadow(0 2px 3px rgba(0, 0, 0, 0.5))
    +ctb-gradient-vertical(#f1f1f2, #ccc)
    display: none
    position: absolute
    top: -86px
    right: -101px
    width: 200px 
    color: #333
    padding: 5px
    z-index: 300

    & li:nth-child(1):after
      text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5)
      content: "\25BC"
      display: block
      position: absolute
      bottom: -14px
      right: 100px
      font-size: 14px
      color: #ccc

  & li
    text-align: center
    margin-bottom: .5em  
  & em
    padding: .3em
    font-size: 1em
    color: #fff
    font-weight: bold
    margin-bottom: .3em
    +border-radius(4px)

  & em, b
    display: block
    font-size: 13px
    font-weight: normal
  & li:nth-child(1) em
    background-color: transparentize($pending-color, .5)
  & li:nth-child(2) em
    background-color: transparentize($overdue-color, .5)

//flip the tooltip in the first line
#tml-history ul.reset + .line .item ul
  top: 16px

  & li:nth-child(1):after
    color: #f1f1f2
    content: "\25B2"
    top: -14px
    text-shadow: 0 0 0

