#tml-history > ul
  +horizontal-list-container
  position: relative
  width: 100%
  z-index: 1
  background-color: rgba(0,0,0,.05)
  li
    +horizontal-list-item($padding: 0)
    position: relative
    p
      float: left
      position: relative
      top: 62%
      width: 8.33%
      text-align: center
      color: rgba(0, 0, 0, 0.5)
    b
      background-color: rgba(0,0,0,.7)
      +box-sizing(border-box)
      position: absolute
      top: 0
      text-align: center
      width: 50%
      font-size: 1.2em
      color: #eaeaea
      &:nth-child(1)
        left: 0
        text-indent: -40%
        border-left: 1px solid #555
      &:nth-child(2)
        right: 0
        text-indent: 40%
        border-right: 1px solid #111
            
    

  // li:nth-child(odd) b
  //   background-color: #111
  // li:nth-child(even) b
  //   background-color: #444