@import partials/base
#survey-menu
  position: absolute
  z-index: 200
  top: -2.5em
  right: 4px
  +border-radius(3px)
  .dropdown-menu li
    a
      position: relative
    a:hover,
    a:focus,
      background-image: none
      background-color: rgba(0,0,0,.03)
      color: #222
    &.state-hidden a
      color: #555
    &.state-visible a
      color: #222
      &:before
        content: "\2713"
        position: absolute
        top: 0
        left: 4px
        font-family: Entypo
        font-size: 2.5em
        margin: 2px 2px 0 0