@import partials/base
  
#canvas > nav 
  position: absolute
  z-index: 100
  top: -39px
  & > ul
    +horizontal-list($padding: 0, $direction: right)
    li
      text-align: center
      span
        cursor: pointer
        +opacity(.6)
      span:hover
        +opacity(.8)
