@import partials/base
  
#canvas > nav 
  position: absolute
  z-index: 100
  & > ul
  +horizontal-list($padding: 0, $direction: right)
  li
    text-align: center
    // font-size: 2em
    // line-height: 1.5em
    // cursor: pointer
    // background-repeat: no-repeat
    // background-position: 50% 2px

