@import partials/base
  
#canvas > nav 
  position: absolute
  z-index: 100
  & > ul
    +horizontal-list($padding: 0, $direction: right)
    li
      text-align: center
      button
        width: 37px
        letter-spacing: -.2em
        line-height: 1em