- registrations = @current_user.person.responder_items(:all ,[:recently_completed,:uncompleted,:overdue])
.box
  %h1
    Nýskráningar
    %span beiðnir um skráningu grunnupplýsinga
  =link_to "Senda nýja beiðni", new_user_invitation_path(3), :class => 'button green large'
%hr.clear
=responder_item_partial_for(@current_user.person,registrations)

