= opt = ResponderItem.to_chart(params)
#lineContainer
:javascript
	var lineOptions = #{opt.to_json}
	console.log(lineOptions)
	$(document).ready(function(){
		new Highcharts.Chart(lineOptions[0])
	});
