.bundle
db/*.sqlite3
/log/*
/tmp/*
app/assets/stylesheets/.sass-cache
.DS_Store
.watchr
.rspec
*.log
public/assets
yes
yes.pub
tmp/i18n-js.cache
app/assets/javascripts/i18n/translations.js
sketch.rb
xiki.notes