.bundle
db/*.sqlite3
/log/*
tmp
/tmp/*
/tmp/i18n-js.cache
app/assets/stylesheets/**/*.sass-cache

.DS_Store
.watchr
.rspec
*.log
public/assets/
public/source_maps/
.sass-cache
yes
yes.pub

app/assets/javascripts/i18n/translations.js
sketch.rb
xiki.notes


/app/assets/stylesheets/.sass-cache/
/app/assets/stylesheets/*/*/config.rb
/app/assets/stylesheets/*/config.rb
/app/assets/stylesheets/config.rb
/.\#xiki.notes