%tr
  %td= t("surveys.#{item.access_code}.name")
  %td=l item.created_at, :format => :short
  %td=deadline_or_completed_date(item)
  %td= link_to 'Skoða', responder_item_path(item), :class => "button x-small orange"  
