@import blueprint/grid

$step-height: 400px
$step-width: 400px
$step-margin: 50px

#content
  padding: 0
.useragent-detection
  .intro
    margin-bottom: 1.4em
    h1
      font-size: 1.5em
      margin: 1em
    p
      font-size: 1.2em
      margin-bottom: .5em
    span
      +column(3)
  .instructions
  .agent-link
    font-size: 1.1em
    text-decoration: underline
  .step-num
    text-align: center
    padding: .5em 0
  .step
    position: relative
  .step-content
    background-color: #fff
    border: #e5e5e5 1px dashed
    padding: 1em

  .st-1
    +column(15)
  .st-2
    +column(8)
  ul
    li
      margin-bottom: 1em
    p
      font-size: 1.2em
      font-weight: bold
  table
    td,
    th 
      padding: 10px 30px
      text-align: center
  span.arrow
    position: absolute
    right: -30px
    top: 5px

  span.clear
    float: none
    clear: both
    visibility: hidden
    display: block


 