/* line 4, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 46, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 48, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {
  display: inline;
  float: left;
  margin-right: 10px;
}
/* line 138, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .column, * html div.span-1, * html div.span-2, * html div.span-3, * html div.span-4, * html div.span-5, * html div.span-6, * html div.span-7, * html div.span-8, * html div.span-9, * html div.span-10, * html div.span-11, * html div.span-12, * html div.span-13, * html div.span-14, * html div.span-15, * html div.span-16, * html div.span-17, * html div.span-18, * html div.span-19, * html div.span-20, * html div.span-21, * html div.span-22, * html div.span-23, * html div.span-24 {
  overflow-x: hidden;
}

/* line 51, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.last, div.last {
  margin-right: 0;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-1 {
  width: 30px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-2 {
  width: 70px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-3 {
  width: 110px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-4 {
  width: 150px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-5 {
  width: 190px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-6 {
  width: 230px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-7 {
  width: 270px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-8 {
  width: 310px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-9 {
  width: 350px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-10 {
  width: 390px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-11 {
  width: 430px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-12 {
  width: 470px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-13 {
  width: 510px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-14 {
  width: 550px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-15 {
  width: 590px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-16 {
  width: 630px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-17 {
  width: 670px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-18 {
  width: 710px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-19 {
  width: 750px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-20 {
  width: 790px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-21 {
  width: 830px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-22 {
  width: 870px;
}

/* line 55, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-23 {
  width: 910px;
}

/* line 57, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.span-24, div.span-24 {
  width: 950px;
  margin: 0;
}

/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-1, textarea.span-1, select.span-1 {
  width: 30px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-2, textarea.span-2, select.span-2 {
  width: 70px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-3, textarea.span-3, select.span-3 {
  width: 110px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-4, textarea.span-4, select.span-4 {
  width: 150px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-5, textarea.span-5, select.span-5 {
  width: 190px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-6, textarea.span-6, select.span-6 {
  width: 230px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-7, textarea.span-7, select.span-7 {
  width: 270px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-8, textarea.span-8, select.span-8 {
  width: 310px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-9, textarea.span-9, select.span-9 {
  width: 350px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-10, textarea.span-10, select.span-10 {
  width: 390px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-11, textarea.span-11, select.span-11 {
  width: 430px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-12, textarea.span-12, select.span-12 {
  width: 470px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-13, textarea.span-13, select.span-13 {
  width: 510px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-14, textarea.span-14, select.span-14 {
  width: 550px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-15, textarea.span-15, select.span-15 {
  width: 590px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-16, textarea.span-16, select.span-16 {
  width: 630px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-17, textarea.span-17, select.span-17 {
  width: 670px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-18, textarea.span-18, select.span-18 {
  width: 710px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-19, textarea.span-19, select.span-19 {
  width: 750px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-20, textarea.span-20, select.span-20 {
  width: 790px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-21, textarea.span-21, select.span-21 {
  width: 830px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-22, textarea.span-22, select.span-22 {
  width: 870px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-23, textarea.span-23, select.span-23 {
  width: 910px !important;
}
/* line 62, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
input.span-24, textarea.span-24, select.span-24 {
  width: 950px !important;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-1 {
  padding-right: 40px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-2 {
  padding-right: 80px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-3 {
  padding-right: 120px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-4 {
  padding-right: 160px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-5 {
  padding-right: 200px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-6 {
  padding-right: 240px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-7 {
  padding-right: 280px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-8 {
  padding-right: 320px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-9 {
  padding-right: 360px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-10 {
  padding-right: 400px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-11 {
  padding-right: 440px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-12 {
  padding-right: 480px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-13 {
  padding-right: 520px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-14 {
  padding-right: 560px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-15 {
  padding-right: 600px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-16 {
  padding-right: 640px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-17 {
  padding-right: 680px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-18 {
  padding-right: 720px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-19 {
  padding-right: 760px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-20 {
  padding-right: 800px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-21 {
  padding-right: 840px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-22 {
  padding-right: 880px;
}

/* line 66, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-23 {
  padding-right: 920px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-1 {
  padding-left: 40px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-2 {
  padding-left: 80px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-3 {
  padding-left: 120px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-4 {
  padding-left: 160px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-5 {
  padding-left: 200px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-6 {
  padding-left: 240px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-7 {
  padding-left: 280px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-8 {
  padding-left: 320px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-9 {
  padding-left: 360px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-10 {
  padding-left: 400px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-11 {
  padding-left: 440px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-12 {
  padding-left: 480px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-13 {
  padding-left: 520px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-14 {
  padding-left: 560px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-15 {
  padding-left: 600px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-16 {
  padding-left: 640px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-17 {
  padding-left: 680px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-18 {
  padding-left: 720px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-19 {
  padding-left: 760px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-20 {
  padding-left: 800px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-21 {
  padding-left: 840px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-22 {
  padding-left: 880px;
}

/* line 70, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-23 {
  padding-left: 920px;
}

/* line 74, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {
  display: inline;
  float: left;
  position: relative;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-1 {
  margin-left: -40px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-2 {
  margin-left: -80px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-3 {
  margin-left: -120px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-4 {
  margin-left: -160px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-5 {
  margin-left: -200px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-6 {
  margin-left: -240px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-7 {
  margin-left: -280px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-8 {
  margin-left: -320px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-9 {
  margin-left: -360px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-10 {
  margin-left: -400px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-11 {
  margin-left: -440px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-12 {
  margin-left: -480px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-13 {
  margin-left: -520px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-14 {
  margin-left: -560px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-15 {
  margin-left: -600px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-16 {
  margin-left: -640px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-17 {
  margin-left: -680px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-18 {
  margin-left: -720px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-19 {
  margin-left: -760px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-20 {
  margin-left: -800px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-21 {
  margin-left: -840px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-22 {
  margin-left: -880px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-23 {
  margin-left: -920px;
}

/* line 77, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.pull-24 {
  margin-left: -960px;
}

/* line 79, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {
  display: inline;
  float: right;
  position: relative;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-1 {
  margin: 0 -40px 1.5em 40px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-2 {
  margin: 0 -80px 1.5em 80px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-3 {
  margin: 0 -120px 1.5em 120px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-4 {
  margin: 0 -160px 1.5em 160px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-5 {
  margin: 0 -200px 1.5em 200px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-6 {
  margin: 0 -240px 1.5em 240px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-7 {
  margin: 0 -280px 1.5em 280px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-8 {
  margin: 0 -320px 1.5em 320px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-9 {
  margin: 0 -360px 1.5em 360px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-10 {
  margin: 0 -400px 1.5em 400px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-11 {
  margin: 0 -440px 1.5em 440px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-12 {
  margin: 0 -480px 1.5em 480px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-13 {
  margin: 0 -520px 1.5em 520px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-14 {
  margin: 0 -560px 1.5em 560px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-15 {
  margin: 0 -600px 1.5em 600px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-16 {
  margin: 0 -640px 1.5em 640px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-17 {
  margin: 0 -680px 1.5em 680px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-18 {
  margin: 0 -720px 1.5em 720px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-19 {
  margin: 0 -760px 1.5em 760px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-20 {
  margin: 0 -800px 1.5em 800px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-21 {
  margin: 0 -840px 1.5em 840px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-22 {
  margin: 0 -880px 1.5em 880px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-23 {
  margin: 0 -920px 1.5em 920px;
}

/* line 82, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.push-24 {
  margin: 0 -960px 1.5em 960px;
}

/* line 84, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.prepend-top {
  margin-top: 1.5em;
}

/* line 86, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
.append-bottom {
  margin-bottom: 1.5em;
}

/* line 8, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_debug.scss */
.showgrid {
  background: url('/images/grid.png?1264086745');
}

/* line 4, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.error {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 29, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.error a {
  color: #8a1f11;
}

/* line 6, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 37, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.notice a {
  color: #514721;
}

/* line 8, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.success {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.success a {
  color: #264409;
}

/* line 10, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.hide {
  display: none;
}

/* line 12, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.highlight {
  background: yellow;
}

/* line 14, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.added {
  background: #006600;
  color: white;
}

/* line 16, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.removed {
  background: #990000;
  color: white;
}

/* line 19, ../../../app/stylesheets/partials/_icons.sass */
.icon-16-c2 {
  display: block;
  width: 16px;
  height: 16px;
  padding: 1px;
  text-indent: -99999px;
  cursor: pointer;
  opacity: 0.8;
}
/* line 13, ../../../app/stylesheets/partials/_icons.sass */
.icon-16-c2:hover {
  opacity: 1;
}
/* line 21, ../../../app/stylesheets/partials/_icons.sass */
.icon-16-c2.delete {
  background: url(/images/16/color2/trash.png) 0 0 no-repeat;
}
/* line 23, ../../../app/stylesheets/partials/_icons.sass */
.icon-16-c2.edit {
  background: url(/images/16/color2/edit.png) 0 0 no-repeat;
}

/* line 27, ../../../app/stylesheets/partials/_icons.sass */
.icon-12-c2 {
  display: block;
  width: 12px;
  height: 12px;
  padding: 1px;
  text-indent: -99999px;
  cursor: pointer;
  opacity: 0.8;
}
/* line 13, ../../../app/stylesheets/partials/_icons.sass */
.icon-12-c2:hover {
  opacity: 1;
}
/* line 29, ../../../app/stylesheets/partials/_icons.sass */
.icon-12-c2.delete {
  background: url(/images/12/color2/trash.png) 0 0 no-repeat;
}
/* line 31, ../../../app/stylesheets/partials/_icons.sass */
.icon-12-c2.edit {
  background: url(/images/12/color2/edit.png) 0 0 no-repeat;
}

/* line 34, ../../../app/stylesheets/partials/_icons.sass */
.icon.partner {
  background: url("/images/partner.png") no-repeat;
  padding-left: 45px;
}

/* line 38, ../../../app/stylesheets/partials/_icons.sass */
.icon.delete {
  padding: 6px 0 4px 20px;
  background: url("/images/trash.png") 3px 3px no-repeat;
  color: #bcbfd6;
  opacity: 0.7;
  font-size: 0.9em;
  cursor: pointer;
}

/* line 46, ../../../app/stylesheets/partials/_icons.sass */
.icon.delete:hover {
  opacity: 1;
}

/* line 1, ../../../app/stylesheets/partials/_form.sass */
.family-registration {
  overflow: hidden;
  *zoom: 1;
}
/* line 3, ../../../app/stylesheets/partials/_form.sass */
.family-registration h3 {
  color: #003a85;
  background-color: #f9f8f9;
  padding: 5px;
}
/* line 7, ../../../app/stylesheets/partials/_form.sass */
.family-registration p {
  margin: 0;
}

/* line 10, ../../../app/stylesheets/partials/_form.sass */
fieldset h2 {
  font-size: 1.3em;
  font-weight: bold;
  display: block;
  border-bottom: 1px solid #f4f4f4;
}

/* line 16, ../../../app/stylesheets/partials/_form.sass */
.frm-section-hrz {
  float: left;
  margin-right: 6px;
}
/* line 19, ../../../app/stylesheets/partials/_form.sass */
.frm-section-hrz h4 {
  padding: 2px 5px;
  color: #3b4991;
  background-color: #f4f4f4;
  border-right: 5px solid white;
}

/* line 25, ../../../app/stylesheets/partials/_form.sass */
.frm-section {
  position: relative;
  padding: 0 0 0.6em 0;
  margin-bottom: 0.4em;
  background-color: #f9f8f9;
}
/* line 30, ../../../app/stylesheets/partials/_form.sass */
.frm-section h4, .frm-section i {
  color: #003a85;
  margin-bottom: -1em;
}
/* line 33, ../../../app/stylesheets/partials/_form.sass */
.frm-section h4 {
  padding: 2px 5px;
}
/* line 35, ../../../app/stylesheets/partials/_form.sass */
.frm-section i {
  position: absolute;
  top: 1.5em;
  left: 5px;
  font-size: 0.8em;
}

/* line 42, ../../../app/stylesheets/partials/_form.sass */
.field label {
  color: #666666;
}
/* line 44, ../../../app/stylesheets/partials/_form.sass */
.field.disabled label {
  color: #bcbcba;
}

/* line 47, ../../../app/stylesheets/partials/_form.sass */
.field.inp-txt, .field.inp-rdo, .field.inp-sel {
  padding-left: 200px;
  padding-top: 2px;
  padding-bottom: 3px;
  margin-bottom: 2px;
  overflow: hidden;
  *zoom: 1;
}

/* line 55, ../../../app/stylesheets/partials/_form.sass */
.field.inp-txt label, .field.inp-sel label {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 138, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .field.inp-txt label, * html .field.inp-sel label {
  overflow-x: hidden;
}

/* line 60, ../../../app/stylesheets/partials/_form.sass */
.field.inp-txt .field.inp-txt {
  padding-left: 120px;
}
/* line 62, ../../../app/stylesheets/partials/_form.sass */
.field.inp-txt .field {
  margin-left: 0;
}

/* line 67, ../../../app/stylesheets/partials/_form.sass */
.inp-rdo label {
  float: none;
}
/* line 69, ../../../app/stylesheets/partials/_form.sass */
.inp-rdo span {
  display: block;
}
/* line 71, ../../../app/stylesheets/partials/_form.sass */
.inp-rdo input {
  margin: 0;
}

/* line 74, ../../../app/stylesheets/partials/_form.sass */
.inp-txt {
  position: relative;
}
/* line 76, ../../../app/stylesheets/partials/_form.sass */
.inp-txt span:nth-child(3n+0) {
  padding-left: 120px;
  display: block;
  margin-top: 2px;
}
/* line 80, ../../../app/stylesheets/partials/_form.sass */
.inp-txt input {
  width: 230px;
  border: solid 1px #bcbcba;
  padding: 4px;
  font-size: 1em;
  color: #333333;
}

/* line 88, ../../../app/stylesheets/partials/_form.sass */
.inp-btn {
  margin-top: 15px;
  margin-left: 5px;
  padding-top: 10px;
  border-top: 1px #dfdfdf solid;
}
/* line 93, ../../../app/stylesheets/partials/_form.sass */
.inp-btn ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  float: right;
}
/* line 56, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.inp-btn ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 45, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.inp-btn ul li:first-child, .inp-btn ul li.first {
  padding-left: 0;
}
/* line 46, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
.inp-btn ul li:last-child, .inp-btn ul li.last {
  padding-right: 0;
}

/* line 97, ../../../app/stylesheets/partials/_form.sass */
input[type='submit'] {
  border-width: 0;
}

/* line 101, ../../../app/stylesheets/partials/_form.sass */
.ui-dialog-titlebar {
  display: none;
}

/* line 105, ../../../app/stylesheets/partials/_form.sass */
#dialog .field.inp-txt, #dialog .field.inp-rdo, #dialog .field.inp-sel {
  padding-left: 40px;
}
/* line 108, ../../../app/stylesheets/partials/_form.sass */
#dialog .frm-section h4 {
  margin-bottom: 1em;
}

/* line 8, ../../../app/stylesheets/application.sass */
body {
  font-family: "Droid Sans", arial, serif;
  font-size: 12px;
}

/* line 12, ../../../app/stylesheets/application.sass */
#header {
  position: relative;
  border-bottom: 1px solid #dfffe0;
  height: 30px;
  background-color: black;
}
/* line 17, ../../../app/stylesheets/application.sass */
#header h2 {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url('/images/logo02.png?1293540919');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 45px;
  height: 29px;
}

/* line 22, ../../../app/stylesheets/application.sass */
#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin: 0 50px;
  background-color: white;
  border-width: 0 1px;
}

/* line 29, ../../../app/stylesheets/application.sass */
#content {
  overflow: hidden;
  *zoom: 1;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;
}

/* line 38, ../../../app/stylesheets/application.sass */
hr.break {
  visibility: hidden;
  margin: 0;
}

/* line 44, ../../../app/stylesheets/application.sass */
#footer {
  margin: 25px;
  border-top: 1px solid #dfdfdf;
}
/* line 47, ../../../app/stylesheets/application.sass */
#footer span {
  display: block;
  margin-top: 25px;
  padding-left: 480px;
}

/* line 51, ../../../app/stylesheets/application.sass */
ul {
  list-style: none;
  padding-left: 0;
}
/* line 11, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_bullets.scss */
ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
}

/* line 55, ../../../app/stylesheets/application.sass */
.section {
  overflow: hidden;
  *zoom: 1;
}

/* line 58, ../../../app/stylesheets/application.sass */
.ajax_notice {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff79f;
}
/* line 64, ../../../app/stylesheets/application.sass */
.ajax_notice span {
  font-size: 1.5em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 560px;
}

/* line 72, ../../../app/stylesheets/application.sass */
.clear {
  overflow: hidden;
  *zoom: 1;
  visibility: hidden;
}

/* line 78, ../../../app/stylesheets/application.sass */
.spouse {
  margin: 0 2em;
}

/* line 80, ../../../app/stylesheets/application.sass */
.added-spouse {
  position: relative;
  margin: 1em 0;
  padding: 0.5em 0;
  border-bottom: 1px dashed #999999;
}
/* line 85, ../../../app/stylesheets/application.sass */
.added-spouse > div {
  margin: 0 2em;
}

/* line 88, ../../../app/stylesheets/application.sass */
.added-spouse:first-child {
  border-top: 1px dashed #999999;
}

/* line 92, ../../../app/stylesheets/application.sass */
.siblings_list {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 4px;
}
/* line 95, ../../../app/stylesheets/application.sass */
.siblings_list ul {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
  border: 1px solid #f9f8f9;
  border-width: 0 1px 0 1px;
}
/* line 138, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .siblings_list ul {
  overflow-x: hidden;
}
/* line 99, ../../../app/stylesheets/application.sass */
.siblings_list h4 {
  margin-bottom: 2px;
  padding: 6px 0 12px 28px;
  color: #003a85;
}
/* line 103, ../../../app/stylesheets/application.sass */
.siblings_list li {
  color: #333333;
}
/* line 105, ../../../app/stylesheets/application.sass */
.siblings_list li p {
  margin: 0 3px 2px 3px;
  padding-bottom: 2px;
  border-bottom: #f9f8f9 1px solid;
}
/* line 109, ../../../app/stylesheets/application.sass */
.siblings_list li em {
  float: right;
}
/* line 111, ../../../app/stylesheets/application.sass */
.siblings_list a {
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  -ms-border-radius: 11px;
  -khtml-border-radius: 11px;
  border-radius: 11px;
  background: #141936 url("/images/add-grey-12.png") 7px 6px no-repeat;
  padding: 5px 14px 5px 24px;
  margin-left: 10px;
  color: #bcbfd6;
  text-decoration: none;
  border: solid 1px #bcbfd6;
  color: #333333;
}
/* line 85, ../../../app/stylesheets/partials/_base.sass */
.siblings_list a:hover {
  background-color: #28326c;
}

/* line 114, ../../../app/stylesheets/application.sass */
.siblings_list ul li:first-child {
  background-color: #f9f8f9;
  margin-bottom: 20px;
}

/* line 118, ../../../app/stylesheets/application.sass */
.siblings_list li:last-child {
  padding: 20px 0 8px 10px;
}

/* line 122, ../../../app/stylesheets/application.sass */
#full_sibling_list h4 {
  background: url("/images/fullsibling-16.png") 5px 5px no-repeat;
}

/* line 124, ../../../app/stylesheets/application.sass */
#half_sibling_mother_list h4 {
  background: url("/images/halfsibling-16.png") 5px 5px no-repeat;
}

/* line 126, ../../../app/stylesheets/application.sass */
#half_sibling_father_list h4 {
  background: url("/images/halfsibling-16.png") 5px 5px no-repeat;
}

/* line 128, ../../../app/stylesheets/application.sass */
#foster_sibling_list h4 {
  background: url("/images/fostersibling-16.png") 5px 5px no-repeat;
}

/* line 130, ../../../app/stylesheets/application.sass */
.select-sibling {
  margin-bottom: 10px;
}

/* line 136, ../../../app/stylesheets/application.sass */
.guardians .notice p {
  margin-left: 20px;
}
/* line 138, ../../../app/stylesheets/application.sass */
.guardians .notice a {
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  -o-border-radius: 11px;
  -ms-border-radius: 11px;
  -khtml-border-radius: 11px;
  border-radius: 11px;
  background: #f9f8f9 url("/images/add-grey-12.png") 7px 6px no-repeat;
  padding: 5px 14px 5px 24px;
  margin-left: 10px;
  color: #bcbfd6;
  text-decoration: none;
  border: solid 1px #bcbfd6;
  color: #333333;
}
/* line 85, ../../../app/stylesheets/partials/_base.sass */
.guardians .notice a:hover {
  background-color: white;
}

/* line 141, ../../../app/stylesheets/application.sass */
table {
  width: 100%;
}
/* line 144, ../../../app/stylesheets/application.sass */
table th, table td {
  padding: 2px 2px 2px 8px;
}
/* line 146, ../../../app/stylesheets/application.sass */
table th {
  color: #141936;
  border-bottom: 1px solid #dfdfdf;
}
/* line 149, ../../../app/stylesheets/application.sass */
table td {
  color: #7c7c7c;
}
/* line 151, ../../../app/stylesheets/application.sass */
table td:nth-child(1n+3) {
  float: right;
  margin-left: 11px;
}

/* line 157, ../../../app/stylesheets/application.sass */
.family-overview div.section {
  padding: 1em;
}

/* line 163, ../../../app/stylesheets/application.sass */
.family-overview h1:first-child + div {
  display: block;
}

/* line 166, ../../../app/stylesheets/application.sass */
.family-overview h1 {
  background-color: #f9f9f9;
  border: 1px solid #f4f4f4;
  font-size: 1.7em;
  padding: 0.4em 0 0.4em 0.9em;
}

/* line 173, ../../../app/stylesheets/application.sass */
.family-overview h2 {
  border-bottom: 1px solid #f4f4f4;
  font-size: 1.4em;
  margin-bottom: 5px;
}
/* line 177, ../../../app/stylesheets/application.sass */
.family-overview h3 {
  font-size: 14px;
  color!: #7c7c7c;
  margin-bottom: 3px;
}

/* line 183, ../../../app/stylesheets/application.sass */
.family-overview .section .parent-info {
  position: relative;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
}
/* line 138, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .family-overview .section .parent-info {
  overflow-x: hidden;
}
/* line 186, ../../../app/stylesheets/application.sass */
.family-overview .section .parent-info li {
  padding: 1px 0;
  border-bottom: solid 1px #eaeaea;
  overflow: hidden;
  *zoom: 1;
}
/* line 190, ../../../app/stylesheets/application.sass */
.family-overview .section .parent-info li:nth-child(even) {
  background-color: #fcfcfc;
}
/* line 192, ../../../app/stylesheets/application.sass */
.family-overview .section .parent-info li:nth-child(odd) {
  background-color: #f9f9f9;
}
/* line 194, ../../../app/stylesheets/application.sass */
.family-overview .section .parent-info b {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
  padding: 0 2px;
}
/* line 138, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .family-overview .section .parent-info b {
  overflow-x: hidden;
}

/* line 198, ../../../app/stylesheets/application.sass */
.family-overview .section .spouse-info {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 390px;
}
/* line 138, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .family-overview .section .spouse-info {
  overflow-x: hidden;
}
/* line 200, ../../../app/stylesheets/application.sass */
.family-overview .section .spouse-info li {
  border: #dfffe0 solid 1px;
  margin-bottom: 2px;
  background-color: #deffdd;
}

/* line 205, ../../../app/stylesheets/application.sass */
.family-overview .section table {
  border: 1px solid black;
}
/* line 14, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.family-overview .section table th, .family-overview .section table td {
  border-right: 1px solid #7a98c6;
  border-bottom: 1px solid #7a98c6;
  border-left-width: 0px;
  border-top-width: 0px;
}
/* line 21, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.family-overview .section table th:last-child, .family-overview .section table th.last, .family-overview .section table td:last-child, .family-overview .section table td.last {
  border-right-width: 0px;
}
/* line 26, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.family-overview .section table tbody tr:last-child th, .family-overview .section table tbody tr:last-child td,
.family-overview .section table tbody tr.last th,
.family-overview .section table tbody tr.last td, .family-overview .section table tfoot tr:last-child th, .family-overview .section table tfoot tr:last-child td, .family-overview .section table tfoot tr.last th, .family-overview .section table tfoot tr.last td {
  border-bottom-width: 0px;
}
/* line 4, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.family-overview .section table thead th {
  border-bottom: 1px solid black;
}
/* line 7, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.family-overview .section table tfoot th, .family-overview .section table tfoot td {
  border-top: 1px solid black;
}
/* line 10, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/tables/_borders.scss */
.family-overview .section table th:first-child {
  border-right: 1px solid black;
}

/* line 209, ../../../app/stylesheets/application.sass */
.family-overview .icon {
  display: block;
  padding-left: 22px;
  position: absolute;
  top: 8px;
  right: -22px;
  text-indent: -99999px;
  width: 30px;
}

/* line 218, ../../../app/stylesheets/application.sass */
#dialog {
  display: none;
}

/* line 223, ../../../app/stylesheets/application.sass */
ul.wizard-nav {
  font-weight: normal;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  overflow: hidden;
  *zoom: 1;
  margin-top: 20px;
  margin-bottom: 30px;
}
/* line 56, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
ul.wizard-nav li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 0;
  padding-right: 0;
}
/* line 45, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
ul.wizard-nav li:first-child, ul.wizard-nav li.first {
  padding-left: 0;
}
/* line 46, ../../../../../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_horizontal-list.scss */
ul.wizard-nav li:last-child, ul.wizard-nav li.last {
  padding-right: 0;
}
/* line 228, ../../../app/stylesheets/application.sass */
ul.wizard-nav li {
  padding: 0 10px 0 24px;
  margin-left: -31px;
  width: 140px;
}
/* line 232, ../../../app/stylesheets/application.sass */
ul.wizard-nav li:first-child {
  margin-left: 0;
}
/* line 234, ../../../app/stylesheets/application.sass */
ul.wizard-nav p {
  position: relative;
  background: url("/images/wizard-bg-left.png") no-repeat;
  padding: 8px 8px 6px 23px;
}
/* line 238, ../../../app/stylesheets/application.sass */
ul.wizard-nav b, ul.wizard-nav a {
  color: white;
  display: block;
}
/* line 241, ../../../app/stylesheets/application.sass */
ul.wizard-nav b {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  line-height: 8px;
  text-align: center;
  font-size: 0.8em;
  padding: 3px;
  height: 8px;
  width: 8px;
  border: solid 1px white;
}
/* line 250, ../../../app/stylesheets/application.sass */
ul.wizard-nav a {
  position: absolute;
  right: -15px;
  top: 0;
  width: 85px;
  padding: 8px 15px 7px 0;
  background: url("/images/wizard-bg-right.png") 100% 0 no-repeat;
  text-decoration: none;
}
/* line 258, ../../../app/stylesheets/application.sass */
ul.wizard-nav li.active a {
  background-position: 100% -35px;
}
/* line 260, ../../../app/stylesheets/application.sass */
ul.wizard-nav li.active p {
  background-position: 0 -35px;
}

/* line 264, ../../../app/stylesheets/application.sass */
.hidden, .off {
  display: none;
}

/* line 266, ../../../app/stylesheets/application.sass */
.on {
  display: block;
}

/* line 269, ../../../app/stylesheets/application.sass */
#address.on {
  display: block;
}
/* line 271, ../../../app/stylesheets/application.sass */
#address.on .new_address {
  display: block;
}
/* line 273, ../../../app/stylesheets/application.sass */
#address.on .existing_address {
  display: none;
}

/* line 275, ../../../app/stylesheets/application.sass */
#address.off {
  display: block;
}
/* line 277, ../../../app/stylesheets/application.sass */
#address.off .new_address {
  display: none;
}
/* line 279, ../../../app/stylesheets/application.sass */
#address.off .existing_address {
  display: block;
}
