.spr-icon {
   background: url(../../images/wpzoom/i30.png) no-repeat top left;
   display: block;
   opacity: .7;
}
.sprite-agenda{ background-position: 0 0; width: 14px; height: 14px; }
.sprite-arrow-down{ background-position: 0 -64px; width: 13px; height: 14px; }
.sprite-arrow-left-down{ background-position: 0 -128px; width: 13px; height: 13px; }
.sprite-arrow-left-up{ background-position: 0 -191px; width: 13px; height: 13px; }
.sprite-arrow-left{ background-position: 0 -254px; width: 14px; height: 13px; }
.sprite-arrow-right-down{ background-position: 0 -317px; width: 13px; height: 13px; }
.sprite-arrow-right-up{ background-position: 0 -380px; width: 13px; height: 13px; }
.sprite-arrow-right{ background-position: 0 -443px; width: 14px; height: 13px; }
.sprite-arrow-up{ background-position: 0 -506px; width: 13px; height: 14px; }
.sprite-badge{ background-position: 0 -570px; width: 10px; height: 14px; }
.sprite-bag{ background-position: 0 -634px; width: 14px; height: 14px; }
.sprite-bass-speaker{ background-position: 0 -698px; width: 11px; height: 14px; }
.sprite-battery-1{ background-position: 0 -762px; width: 10px; height: 14px; }
.sprite-battery-2{ background-position: 0 -826px; width: 10px; height: 14px; }
.sprite-battery-3{ background-position: 0 -890px; width: 10px; height: 14px; }
.sprite-battery-4{ background-position: 0 -954px; width: 10px; height: 14px; }
.sprite-beer-mug{ background-position: 0 -1018px; width: 14px; height: 14px; }
.sprite-binoculars{ background-position: 0 -1082px; width: 14px; height: 14px; }
.sprite-book{ background-position: 0 -1146px; width: 12px; height: 14px; }
.sprite-bookmark{ background-position: 0 -1210px; width: 8px; height: 14px; }
.sprite-bug{ background-position: 0 -1274px; width: 14px; height: 14px; }
.sprite-bulb{ background-position: 0 -1338px; width: 10px; height: 14px; }
.sprite-buoy{ background-position: 0 -1402px; width: 14px; height: 14px; }
.sprite-calculator{ background-position: 0 -1466px; width: 10px; height: 14px; }
.sprite-calendar{ background-position: 0 -1530px; width: 14px; height: 14px; }
.sprite-car{ background-position: 0 -1594px; width: 14px; height: 12px; }
.sprite-cart{ background-position: 0 -1656px; width: 14px; height: 13px; }
.sprite-cassette{ background-position: 0 -1719px; width: 14px; height: 11px; }
.sprite-cd-dvd{ background-position: 0 -1780px; width: 14px; height: 14px; }
.sprite-champion-cup{ background-position: 0 -1844px; width: 14px; height: 14px; }
.sprite-chip{ background-position: 0 -1908px; width: 14px; height: 14px; }
.sprite-clip{ background-position: -64px 0; width: 14px; height: 13px; }
.sprite-clipboard{ background-position: -64px -63px; width: 12px; height: 14px; }
.sprite-clock{ background-position: -64px -127px; width: 14px; height: 14px; }
.sprite-closed-lock{ background-position: -64px -191px; width: 12px; height: 14px; }
.sprite-cloud{ background-position: -64px -255px; width: 14px; height: 10px; }
.sprite-cocktail{ background-position: -64px -315px; width: 14px; height: 14px; }
.sprite-coffe-mug{ background-position: -64px -379px; width: 14px; height: 14px; }
.sprite-coffee-cup{ background-position: -64px -443px; width: 14px; height: 12px; }
.sprite-collapse{ background-position: -64px -505px; width: 14px; height: 14px; }
.sprite-comment{ background-position: -64px -569px; width: 14px; height: 12px; }
.sprite-credit-card{ background-position: -64px -631px; width: 14px; height: 11px; }
.sprite-cronometer{ background-position: -64px -692px; width: 12px; height: 14px; }
.sprite-document{ background-position: -64px -756px; width: 11px; height: 14px; }
.sprite-drop{ background-position: -64px -820px; width: 9px; height: 14px; }
.sprite-empty-clipboard{ background-position: -64px -884px; width: 12px; height: 14px; }
.sprite-envelope{ background-position: -64px -948px; width: 14px; height: 11px; }
.sprite-expand{ background-position: -64px -1009px; width: 14px; height: 14px; }
.sprite-eye{ background-position: -64px -1073px; width: 14px; height: 10px; }
.sprite-facebook{ background-position: -64px -1133px; width: 14px; height: 14px; }
.sprite-first-aid-kit{ background-position: -64px -1197px; width: 14px; height: 14px; }
.sprite-flag{ background-position: -64px -1261px; width: 14px; height: 14px; }
.sprite-floppy-disc{ background-position: -64px -1325px; width: 14px; height: 14px; }
.sprite-flower{ background-position: -64px -1389px; width: 11px; height: 14px; }
.sprite-folder{ background-position: -64px -1453px; width: 14px; height: 12px; }
.sprite-game-boy{ background-position: -64px -1515px; width: 11px; height: 14px; }
.sprite-gas{ background-position: -64px -1579px; width: 14px; height: 14px; }
.sprite-gear{ background-position: -64px -1643px; width: 14px; height: 14px; }
.sprite-gift{ background-position: -64px -1707px; width: 14px; height: 14px; }
.sprite-glass{ background-position: -64px -1771px; width: 11px; height: 14px; }
.sprite-globe-1{ background-position: -64px -1835px; width: 14px; height: 14px; }
.sprite-globe-2{ background-position: -64px -1899px; width: 14px; height: 14px; }
.sprite-hard-disk{ background-position: -128px 0; width: 12px; height: 14px; }
.sprite-headphones{ background-position: -128px -64px; width: 14px; height: 14px; }
.sprite-heart{ background-position: -128px -128px; width: 14px; height: 13px; }
.sprite-id{ background-position: -128px -191px; width: 14px; height: 13px; }
.sprite-industry{ background-position: -128px -254px; width: 14px; height: 14px; }
.sprite-info{ background-position: -128px -318px; width: 8px; height: 14px; }
.sprite-iphone{ background-position: -128px -382px; width: 11px; height: 14px; }
.sprite-ipod{ background-position: -128px -446px; width: 11px; height: 14px; }
.sprite-joystick{ background-position: -128px -510px; width: 15px; height: 11px; }
.sprite-key{ background-position: -128px -571px; width: 14px; height: 14px; }
.sprite-keyboard{ background-position: -128px -635px; width: 14px; height: 14px; }
.sprite-lab{ background-position: -128px -699px; width: 14px; height: 14px; }
.sprite-laptop{ background-position: -128px -763px; width: 14px; height: 13px; }
.sprite-leaf{ background-position: -128px -826px; width: 14px; height: 14px; }
.sprite-lollipop{ background-position: -128px -890px; width: 11px; height: 14px; }
.sprite-magnifying-glass{ background-position: -128px -954px; width: 14px; height: 14px; }
.sprite-man-user{ background-position: -128px -1018px; width: 12px; height: 14px; }
.sprite-memory-card{ background-position: -128px -1082px; width: 12px; height: 14px; }
.sprite-microphone{ background-position: -128px -1146px; width: 14px; height: 13px; }
.sprite-mobile-phone{ background-position: -128px -1209px; width: 10px; height: 14px; }
.sprite-monitor{ background-position: -128px -1273px; width: 14px; height: 14px; }
.sprite-moon{ background-position: -128px -1337px; width: 14px; height: 14px; }
.sprite-mouse{ background-position: -128px -1401px; width: 13px; height: 14px; }
.sprite-movie-film{ background-position: -128px -1465px; width: 14px; height: 14px; }
.sprite-music-note{ background-position: -128px -1529px; width: 13px; height: 14px; }
.sprite-network-socket{ background-position: -128px -1593px; width: 14px; height: 14px; }
.sprite-news{ background-position: -128px -1657px; width: 14px; height: 13px; }
.sprite-opened-envelope{ background-position: -128px -1720px; width: 14px; height: 14px; }
.sprite-opened-lock{ background-position: -128px -1784px; width: 12px; height: 14px; }
.sprite-pen{ background-position: -128px -1848px; width: 14px; height: 14px; }
.sprite-pencil{ background-position: -128px -1912px; width: 14px; height: 14px; }
.sprite-phone-1{ background-position: -193px 0; width: 14px; height: 14px; }
.sprite-phone-2{ background-position: -193px -64px; width: 14px; height: 14px; }
.sprite-photography-camera{ background-position: -193px -128px; width: 14px; height: 11px; }
.sprite-photography-film{ background-position: -193px -189px; width: 14px; height: 14px; }
.sprite-photography{ background-position: -193px -253px; width: 14px; height: 14px; }
.sprite-planet{ background-position: -193px -317px; width: 14px; height: 14px; }
.sprite-plug{ background-position: -193px -381px; width: 14px; height: 14px; }
.sprite-podcast{ background-position: -193px -445px; width: 13px; height: 14px; }
.sprite-pointing-down{ background-position: -193px -509px; width: 14px; height: 14px; }
.sprite-pointing-left{ background-position: -193px -573px; width: 14px; height: 14px; }
.sprite-pointing-right{ background-position: -193px -637px; width: 14px; height: 14px; }
.sprite-pointing-up{ background-position: -193px -701px; width: 14px; height: 14px; }
.sprite-print{ background-position: -193px -765px; width: 14px; height: 14px; }
.sprite-projector{ background-position: -193px -829px; width: 14px; height: 12px; }
.sprite-pushpin-1, .sprite-item{ background-position: -193px -891px; width: 9px; height: 14px; }
.sprite-pushpin-2{ background-position: -193px -955px; width: 11px; height: 14px; }
.sprite-puzzle{ background-position: -193px -1019px; width: 13px; height: 14px; }
.sprite-quote{ background-position: -193px -1083px; width: 14px; height: 14px; }
.sprite-radio{ background-position: -193px -1147px; width: 14px; height: 14px; }
.sprite-refresh{ background-position: -193px -1211px; width: 13px; height: 14px; }
.sprite-restaurant{ background-position: -193px -1275px; width: 14px; height: 14px; }
.sprite-router{ background-position: -193px -1339px; width: 14px; height: 14px; }
.sprite-rss{ background-position: -193px -1403px; width: 14px; height: 14px; }
.sprite-satelite{ background-position: -193px -1467px; width: 14px; height: 14px; }
.sprite-scissors{ background-position: -193px -1531px; width: 14px; height: 13px; }
.sprite-server{ background-position: -193px -1594px; width: 14px; height: 14px; }
.sprite-share{ background-position: -193px -1658px; width: 14px; height: 14px; }
.sprite-shield{ background-position: -193px -1722px; width: 14px; height: 14px; }
.sprite-sign-post{ background-position: -193px -1786px; width: 14px; height: 14px; }
.sprite-skull{ background-position: -193px -1850px; width: 13px; height: 14px; }
.sprite-snow-flake{ background-position: -193px -1914px; width: 14px; height: 14px; }
.sprite-speaker{ background-position: -258px 0; width: 14px; height: 14px; }
.sprite-star{ background-position: -258px -64px; width: 14px; height: 14px; }
.sprite-suitcase{ background-position: -258px -128px; width: 14px; height: 13px; }
.sprite-sun{ background-position: -258px -191px; width: 14px; height: 14px; }
.sprite-surveillance-camera{ background-position: -258px -255px; width: 14px; height: 14px; }
.sprite-tag{ background-position: -258px -319px; width: 14px; height: 14px; }
.sprite-thumbs-down{ background-position: -258px -383px; width: 14px; height: 14px; }
.sprite-thumbs-up{ background-position: -258px -447px; width: 14px; height: 14px; }
.sprite-thunder{ background-position: -258px -511px; width: 10px; height: 14px; }
.sprite-tools{ background-position: -258px -575px; width: 14px; height: 14px; }
.sprite-traffic-cone{ background-position: -258px -639px; width: 14px; height: 14px; }
.sprite-trash{ background-position: -258px -703px; width: 13px; height: 14px; }
.sprite-tree{ background-position: -258px -767px; width: 14px; height: 14px; }
.sprite-truck{ background-position: -258px -831px; width: 14px; height: 12px; }
.sprite-tv{ background-position: -258px -893px; width: 14px; height: 14px; }
.sprite-twitter-bird{ background-position: -258px -957px; width: 14px; height: 14px; }
.sprite-twitter{ background-position: -258px -1021px; width: 14px; height: 14px; }
.sprite-umbrella{ background-position: -258px -1085px; width: 14px; height: 14px; }
.sprite-usb{ background-position: -258px -1149px; width: 14px; height: 14px; }
.sprite-user{ background-position: -258px -1213px; width: 12px; height: 14px; }
.sprite-video-camera{ background-position: -258px -1277px; width: 14px; height: 12px; }
.sprite-virus{ background-position: -258px -1339px; width: 14px; height: 14px; }
.sprite-wall-socket-1{ background-position: -258px -1403px; width: 14px; height: 14px; }
.sprite-wall-socket-2{ background-position: -258px -1467px; width: 14px; height: 14px; }
.sprite-wallet{ background-position: -258px -1531px; width: 14px; height: 13px; }
.sprite-webcam{ background-position: -258px -1594px; width: 9px; height: 14px; }
.sprite-window{ background-position: -258px -1658px; width: 14px; height: 14px; }
.sprite-woman-user{ background-position: -258px -1722px; width: 12px; height: 14px; }
.sprite-zoom-in{ background-position: -258px -1786px; width: 14px; height: 14px; }
.sprite-zoom-out{ background-position: -258px -1850px; width: 14px; height: 14px; }
