%p= "#{@patient.opposite_parent(@person).first.firstname} #{@patient.opposite_parent(@person).first.lastname} er:"
=f.hidden_field :person_id
=f.hidden_field :relation_id
=f.hidden_field :name
=f.date_select :end, :include_blank => true, :discard_day => true