.field.inp-txt
  = f.label :workphone , t('person.workphone')
  %span
    = f.text_field :workphone
.field.inp-txt
  = f.label :workphone , t('person.mobilephone')
  %span
    = f.text_field :mobilephone