

=label_tag "Patient #{get_opposite_parent_type(@wizard.current_step)}"
%p= "#{@patient.opposite_parent(@person).first.firstname} #{@patient.opposite_parent(@person).first.lastname} is current spouse:"
.field.inp-rdo
  %span
    =label_tag "Current"
    =radio_button_tag 'spouse-status', 'current'
  %span
    =label_tag "Ex"
    =radio_button_tag 'spouse-status', 'ex'
.field.inp-sel
  =f.label :end, "Relationship ended"
  %span
=f.date_select :end, :include_blank => true
=f.hidden_field :relation_id, :value => @patient.opposite_parent(@person).first.id
=f.hidden_field :name, :value => "spouse"

