=content_for :content_title, "#{@person.full_name}"
=content_for :content_title_sub, "#{@person.age} ára"
=content_for :content_title_image do
  =image_tag @person.avatar.url(:tiny), {:class => 'avatar'}

=content_for :subject_nav do
  =render "people/patient/patient_nav"

=content_for :subject_content do
  =render "shared/content_title"

=content_for :backbone_bootstrap do
  :javascript
    var subjectViewParams = #{render template: 'people/caretaker/show',formats: [:json]};
    var informationView = new App.Views.PatientInformationView(subjectViewParams);
    $(document).ready(function(){$("#content").html(informationView.render().el)})

