%div{:id => 'person'}
  %div{:class => 'sidebar'}
    %div{:class => 'image'}
      %img{:src => 'http://placehold.it/250x300'}
    %div{:class => 'subject-information'}
      %ul
        %li
          =t('person.name') + ': ' + @subject.firstname + ' ' + @subject.lastname
        %li
          =t('person.full_cpr') + ': ' + @subject.full_cpr
        %li
          =t('person.dateofbirth') + ': ' + @subject.dateofbirth.strftime('%d-%m-%y')
  %div{:class => 'content'}
    @todo
