=content_for :content_title, "#{@person.full_name}"
=content_for :content_title_sub, "#{@person.age} ára"

=content_for :subject_nav do
  = render "people/patient/patient_nav"

=content_for :subject_content do
  =render "shared/content_title"

%div{:id => 'person'}
  %div{:class => 'sidebar'}
    =render "people/image"

    %div{:class => 'subject-information'}
      %ul
        %li
          =t('person.name') + ': ' + @person.firstname + ' ' + @person.lastname
        %li
          =t('person.full_cpr') + ': ' + @person.full_cpr
        %li
          =t('person.dateofbirth') + ': ' + @person.dateofbirth.strftime('%d-%m-%y')
  %div{:class => 'content'}
    @todo
