=content_for :subject_nav do
  = render "people/patient/patient_nav"

=content_for :content_css_hook, 'under-construction'

%div{:id => 'person'}
  %div{:class => 'sidebar'}
    =render "people/image"

    %div{:class => 'subject-information'}
      %ul
        %li
          =t('person.name') + ': ' + @person.firstname + ' ' + @person.lastname
        %li
          =t('person.full_cpr') + ': ' + @person.full_cpr
        %li
          =t('person.dateofbirth') + ': ' + @person.dateofbirth.strftime('%d-%m-%y')
  %div{:class => 'content'}
    @todo
