-@current_user.person.relations.guardian_of.each do |child|
	%h3= child.full_name
	- pending = @current_user.person.responder_items_by_type_and_status(:surveys, [:uncompleted,:overdue])
	=responder_item_partial_for(@current_user.person,pending,:pending)



