- pending = @current_user.person.responder_items(:all, [:uncompleted,:overdue])
=responder_item_partial_for(@current_user.person,pending,:pending)

- completed = @current_user.person.responder_items(:surveys, [:completed])
=responder_item_partial_for(@current_user.person,completed,:completed)

#canvas
