/* line 17, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Entypo";
  src: url(/assets/Entypo/entypo-77c68969ff1a883f5eceeadd3b81bb18.woff) format("woff"), url(/assets/Entypo/entypo-07124c1f2d57ec9f5806a2b5ea0ade04.ttf) format("truetype");
}

/* line 10, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#wrapper {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -39px;
}
/* line 18, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#wrapper #wrapper_footer {
  height: 39px;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer {
  clear: both;
  position: relative;
  height: 39px;
}

/* line 13, ../../app/assets/stylesheets/partials/_main.css.sass */
body {
  font-family: "Droid Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

/* line 19, ../../app/assets/stylesheets/partials/_main.css.sass */
#wrapper {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(50%, rgba(255, 255, 255, 0.2))), url("/assets/bg-pattern-1.png");
  background-image: -webkit-linear-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 50%), url("/assets/bg-pattern-1.png");
  background-image: -moz-linear-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 50%), url("/assets/bg-pattern-1.png");
  background-image: -o-linear-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 50%), url("/assets/bg-pattern-1.png");
  background-image: linear-gradient(left top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.2) 50%), url("/assets/bg-pattern-1.png");
  background-repeat: no-repeat, repeat;
  -webkit-background-size: 100% 200%, auto;
  -moz-background-size: 100% 200%, auto;
  -o-background-size: 100% 200%, auto;
  background-size: 100% 200%, auto;
}

/* line 25, ../../app/assets/stylesheets/partials/_main.css.sass */
#container {
  overflow: hidden;
  *zoom: 1;
  width: 1040px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  margin: 0;
  padding: 20px 0 20px 55px;
  border-width: 0 1px;
  min-height: 600px;
}

/* line 34, ../../app/assets/stylesheets/partials/_main.css.sass */
#content {
  overflow: hidden;
  *zoom: 1;
  padding-left: 40px;
  padding-right: 40px;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

/* line 41, ../../app/assets/stylesheets/partials/_main.css.sass */
#flash {
  position: absolute;
  top: 0px;
}

/* line 45, ../../app/assets/stylesheets/partials/_main.css.sass */
#flash div {
  display: inline;
  float: left;
  margin-right: 5px;
  width: 1040px;
  width: 520px;
  margin-left: 260px;
  text-align: center;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #flash div {
  overflow-x: hidden;
}

/* line 51, ../../app/assets/stylesheets/partials/_main.css.sass */
#footer {
  padding: 1em 0 1em 0;
  background-color: black;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(15%, rgba(255, 255, 255, 0.15)), color-stop(46%, rgba(255, 255, 255, 0.22)), color-stop(67%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(255, 255, 255, 0.01)));
  background-image: -webkit-linear-gradient(left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.22) 46%, rgba(255, 255, 255, 0.15) 67%, rgba(255, 255, 255, 0.01) 100%);
  background-image: -moz-linear-gradient(left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.22) 46%, rgba(255, 255, 255, 0.15) 67%, rgba(255, 255, 255, 0.01) 100%);
  background-image: -o-linear-gradient(left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.22) 46%, rgba(255, 255, 255, 0.15) 67%, rgba(255, 255, 255, 0.01) 100%);
  background-image: linear-gradient(left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.22) 46%, rgba(255, 255, 255, 0.15) 67%, rgba(255, 255, 255, 0.01) 100%);
  border-top: 1px white solid;
}
/* line 56, ../../app/assets/stylesheets/partials/_main.css.sass */
#footer span {
  display: block;
  padding-top: 25px;
  padding-left: 480px;
  color: #999999;
}

/* line 64, ../../app/assets/stylesheets/partials/_main.css.sass */
#header {
  position: relative;
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid white;
  background-color: black;
  -webkit-box-shadow: 0px 1px 0 0px #1f212b;
  -moz-box-shadow: 0px 1px 0 0px #1f212b;
  box-shadow: 0px 1px 0 0px #1f212b;
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(15%, rgba(255, 255, 255, 0.15)), color-stop(46%, rgba(255, 255, 255, 0.22)), color-stop(67%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(255, 255, 255, 0.01)));
  background-image: -webkit-linear-gradient(left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.22) 46%, rgba(255, 255, 255, 0.15) 67%, rgba(255, 255, 255, 0.01) 100%);
  background-image: -moz-linear-gradient(left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.22) 46%, rgba(255, 255, 255, 0.15) 67%, rgba(255, 255, 255, 0.01) 100%);
  background-image: -o-linear-gradient(left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.22) 46%, rgba(255, 255, 255, 0.15) 67%, rgba(255, 255, 255, 0.01) 100%);
  background-image: linear-gradient(left top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.15) 15%, rgba(255, 255, 255, 0.22) 46%, rgba(255, 255, 255, 0.15) 67%, rgba(255, 255, 255, 0.01) 100%);
}
/* line 71, ../../app/assets/stylesheets/partials/_main.css.sass */
#header > div {
  position: relative;
  height: 50px;
}
/* line 74, ../../app/assets/stylesheets/partials/_main.css.sass */
#header h2 {
  position: absolute;
  top: 0;
  left: 0;
  background-position: 4px 4px;
  background-size: auto auto;
  color: rgba(255, 255, 255, 0.7);
  height: 50px;
  line-height: 46px;
  letter-spacing: 0.14em;
  margin: 0;
  padding: 0;
  text-indent: 5px;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  width: 50px;
}
/* line 90, ../../app/assets/stylesheets/partials/_main.css.sass */
#header ul.login {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  position: absolute;
  right: 0;
  top: 0;
  color: #c1c1c1;
}
/* line 60, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#header ul.login li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
}
/* line 96, ../../app/assets/stylesheets/partials/_main.css.sass */
#header ul.login li {
  padding: 0.3em 1em 0.3em 1.8em;
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 100, ../../app/assets/stylesheets/partials/_main.css.sass */
#header ul.login li:before {
  font-family: Entypo;
  font-size: 2em;
}
/* line 103, ../../app/assets/stylesheets/partials/_main.css.sass */
#header ul.login li:nth-child(1):before {
  content: "\1F464";
}
/* line 105, ../../app/assets/stylesheets/partials/_main.css.sass */
#header ul.login li:nth-child(2):before {
  content: "\E741";
}
/* line 107, ../../app/assets/stylesheets/partials/_main.css.sass */
#header ul.login a {
  color: #c1c1c1;
  text-decoration: underline;
}
/* line 110, ../../app/assets/stylesheets/partials/_main.css.sass */
#header ul.login em {
  font-weight: bold;
}
/* line 112, ../../app/assets/stylesheets/partials/_main.css.sass */
#header ul.login i {
  text-decoration: underline;
}

/* line 116, ../../app/assets/stylesheets/partials/_main.css.sass */
ul.main-nav {
  position: absolute;
  top: 80px;
  left: 10px;
  z-index: 8;
}
/* line 121, ../../app/assets/stylesheets/partials/_main.css.sass */
ul.main-nav a {
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07) inset;
  -moz-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07) inset;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.07) inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: block;
  height: 32px;
  width: 32px;
  text-align: center;
}
/* line 129, ../../app/assets/stylesheets/partials/_main.css.sass */
ul.main-nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 132, ../../app/assets/stylesheets/partials/_main.css.sass */
ul.patient-nav.sub {
  position: absolute;
  left: 0px;
  top: 50px;
  width: 55px;
  padding: 100px 2px 500px 4px;
}
/* line 139, ../../app/assets/stylesheets/partials/_main.css.sass */
ul.patient-nav.sub li:last-child {
  margin-bottom: -500px;
}
/* line 141, ../../app/assets/stylesheets/partials/_main.css.sass */
ul.patient-nav.sub li {
  width: 55px;
  position: relative;
  border: rgba(0, 0, 0, 0.08) solid;
  -webkit-box-shadow: 1px -1px 1px 0 rgba(255, 255, 255, 0.4) inset;
  -moz-box-shadow: 1px -1px 1px 0 rgba(255, 255, 255, 0.4) inset;
  box-shadow: 1px -1px 1px 0 rgba(255, 255, 255, 0.4) inset;
  border-width: 1px 0px 1px 1px;
  border-radius: 4px 0 0 4px;
  margin-bottom: 3px;
  height: 41px;
}
/* line 150, ../../app/assets/stylesheets/partials/_main.css.sass */
ul.patient-nav.sub li a {
  display: block;
  position: relative;
  height: 41px;
  color: #888888;
  width: 100%;
  font-size: 0.8em;
  text-align: center;
  text-shadow: -1px 1px 0 rgba(255, 255, 255, 0.6);
}
/* line 159, ../../app/assets/stylesheets/partials/_main.css.sass */
ul.patient-nav.sub li a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/* line 161, ../../app/assets/stylesheets/partials/_main.css.sass */
ul.patient-nav.sub li.selected {
  -webkit-box-shadow: -1px -1px 2px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px -1px 2px 0px rgba(0, 0, 0, 0.1);
  box-shadow: -1px -1px 2px 0px rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.16);
}
/* line 164, ../../app/assets/stylesheets/partials/_main.css.sass */
ul.patient-nav.sub li.selected a {
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0.45))), url("/assets/bg-pattern-1.png");
  background-image: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.45) 100%), url("/assets/bg-pattern-1.png");
  background-image: -moz-linear-gradient(right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.45) 100%), url("/assets/bg-pattern-1.png");
  background-image: -o-linear-gradient(right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.45) 100%), url("/assets/bg-pattern-1.png");
  background-image: linear-gradient(right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.45) 100%), url("/assets/bg-pattern-1.png");
  margin-left: 2px;
  border-radius: 4px 0 0 4px;
  color: #333333;
}

/* line 170, ../../app/assets/stylesheets/partials/_main.css.sass */
.client-view ul.nav {
  display: none;
}

/* line 176, ../../app/assets/stylesheets/partials/_main.css.sass */
.sn-box {
  position: relative;
  padding: 1em 1em 1em 1em;
  margin: 0 auto;
  min-height: 100px;
  background-color: rgba(255, 255, 255, 0.85);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-shadow: 0 0 0 13px rgba(255, 255, 255, 0.5), 0 0 0 14px rgba(0, 0, 0, 0.04), 1px 1px 12px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 13px rgba(255, 255, 255, 0.5), 0 0 0 14px rgba(0, 0, 0, 0.04), 1px 1px 12px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 13px rgba(255, 255, 255, 0.5), 0 0 0 14px rgba(0, 0, 0, 0.04), 1px 1px 12px 10px rgba(0, 0, 0, 0.1);
}

/* line 187, ../../app/assets/stylesheets/partials/_main.css.sass */
.alert, div.overdue, div.uncompleted, .recently_completed, .notice, .info {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 190, ../../app/assets/stylesheets/partials/_main.css.sass */
.alert, div.overdue {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fbe3e4;
  color: #8a1f11;
  border-color: #fbc2c4;
}
/* line 27, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.alert a, div.overdue a {
  color: #8a1f11;
}

/* line 192, ../../app/assets/stylesheets/partials/_main.css.sass */
div.uncompleted {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #fff6bf;
  color: #514721;
  border-color: #ffd324;
}
/* line 36, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
div.uncompleted a {
  color: #514721;
}

/* line 195, ../../app/assets/stylesheets/partials/_main.css.sass */
.recently_completed, .notice {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #e6efc2;
  color: #264409;
  border-color: #c6d880;
}
/* line 45, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.recently_completed a, .notice a {
  color: #264409;
}

/* line 198, ../../app/assets/stylesheets/partials/_main.css.sass */
.info {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 2px solid #dddddd;
  background: #d5edf8;
  color: #205791;
  border-color: #92cae4;
}
/* line 54, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_interaction.scss */
.info a {
  color: #205791;
}

/* line 200, ../../app/assets/stylesheets/partials/_main.css.sass */
a {
  text-decoration: none;
}

/* line 203, ../../app/assets/stylesheets/partials/_main.css.sass */
ul {
  list-style: none;
  padding-left: 0;
}
/* line 11, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}

/* line 207, ../../app/assets/stylesheets/partials/_main.css.sass */
hr.break {
  visibility: hidden;
  clear: both;
  margin: 0;
}

/* line 213, ../../app/assets/stylesheets/partials/_main.css.sass */
table th, table td {
  padding: 2px 2px 2px 8px;
}
/* line 215, ../../app/assets/stylesheets/partials/_main.css.sass */
table th {
  color: #1f212b;
  border-bottom: 1px solid #dfdfdf;
}
/* line 218, ../../app/assets/stylesheets/partials/_main.css.sass */
table td {
  color: #7c7c7c;
}

/* line 221, ../../app/assets/stylesheets/partials/_main.css.sass */
.section {
  overflow: hidden;
  *zoom: 1;
}

/* line 224, ../../app/assets/stylesheets/partials/_main.css.sass */
#content.under-construction {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 226, ../../app/assets/stylesheets/partials/_main.css.sass */
#content.under-construction:before, #content.under-construction:after {
  position: absolute;
  margin: 0 auto;
  z-index: 9999;
  width: 50%;
  font-size: 5em;
  top: 200px;
  left: 200px;
  text-align: center;
}
/* line 236, ../../app/assets/stylesheets/partials/_main.css.sass */
#content.under-construction:before {
  content: "\00CD  vinnslu";
  border-top: 80px solid yellow;
  background-color: black;
  color: yellow;
  padding: 1em 0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
}
/* line 243, ../../app/assets/stylesheets/partials/_main.css.sass */
#content.under-construction:after {
  font-family: Entypo;
  content: "\26A0";
  font-size: 8em;
}

/* line 7, ../../app/assets/stylesheets/partials/useragentDetection.css.sass */
#content {
  padding: 0;
}

/* line 10, ../../app/assets/stylesheets/partials/useragentDetection.css.sass */
.useragent-detection .intro {
  margin-bottom: 1.4em;
}
/* line 12, ../../app/assets/stylesheets/partials/useragentDetection.css.sass */
.useragent-detection .intro h1 {
  font-size: 1.5em;
  margin: 1em;
}
/* line 15, ../../app/assets/stylesheets/partials/useragentDetection.css.sass */
.useragent-detection .intro p {
  font-size: 1.2em;
  margin-bottom: 0.5em;
}
/* line 18, ../../app/assets/stylesheets/partials/useragentDetection.css.sass */
.useragent-detection .intro span {
  display: inline;
  float: left;
  margin-right: 5px;
  width: 125.625px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .useragent-detection .intro span {
  overflow-x: hidden;
}
/* line 21, ../../app/assets/stylesheets/partials/useragentDetection.css.sass */
.useragent-detection .agent-link {
  font-size: 1.1em;
  text-decoration: underline;
}
/* line 24, ../../app/assets/stylesheets/partials/useragentDetection.css.sass */
.useragent-detection .step-num {
  text-align: center;
  padding: 0.5em 0;
}
/* line 27, ../../app/assets/stylesheets/partials/useragentDetection.css.sass */
.useragent-detection .step {
  position: relative;
}
/* line 29, ../../app/assets/stylesheets/partials/useragentDetection.css.sass */
.useragent-detection .step-content {
  background-color: white;
  border: #e5e5e5 1px dashed;
  padding: 1em;
}
/* line 34, ../../app/assets/stylesheets/partials/useragentDetection.css.sass */
.useragent-detection .st-1 {
  display: inline;
  float: left;
  margin-right: 5px;
  width: 648.125px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .useragent-detection .st-1 {
  overflow-x: hidden;
}
/* line 36, ../../app/assets/stylesheets/partials/useragentDetection.css.sass */
.useragent-detection .st-2 {
  display: inline;
  float: left;
  margin-right: 5px;
  width: 343.333px;
}
/* line 147, ../../../.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .useragent-detection .st-2 {
  overflow-x: hidden;
}
/* line 39, ../../app/assets/stylesheets/partials/useragentDetection.css.sass */
.useragent-detection ul li {
  margin-bottom: 1em;
}
/* line 41, ../../app/assets/stylesheets/partials/useragentDetection.css.sass */
.useragent-detection ul p {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 45, ../../app/assets/stylesheets/partials/useragentDetection.css.sass */
.useragent-detection table td,
.useragent-detection table th {
  padding: 10px 30px;
  text-align: center;
}
/* line 49, ../../app/assets/stylesheets/partials/useragentDetection.css.sass */
.useragent-detection span.arrow {
  position: absolute;
  right: -30px;
  top: 5px;
}
/* line 54, ../../app/assets/stylesheets/partials/useragentDetection.css.sass */
.useragent-detection span.clear {
  float: none;
  clear: both;
  visibility: hidden;
  display: block;
}
