-f ||= locals[:form_builder]
.added-spouse.nested-item
  %a.icon.delete
  - spouse = f.object.relation.nil? ? f.object.build_relation : f.object.relation
  .spouseform
    = f.fields_for :relation, spouse do |spouse_form|
      .field.inp-txt
        =spouse_form.label :firstname, t('person.firstname')
        %span
          =spouse_form.text_field :firstname
      .field.inp-txt
        =spouse_form.label :lastname, t('person.lastname')
        %span
          =spouse_form.text_field :lastname
    = render "relationships/relationship_status", :locals => {:form_builder => f}
    = render "relationships/relationship_start", :locals => {:form_builder => f}
    = render "relationships/relationship_end", :locals => {:form_builder => f}
