#apply
  .container
    .row-fluid{ :class => 'row-fluid-70 signup-form'}
      .span8
        %form{:id => "email", :action => "#", :method => "post",:class => "form-bloat form-stretch"} 
          .input-append
            %input{:type => "text", :id => "email", :class => "placeholder", :placeholder => "Are you interested in use Qodiag.com?"}
            %button{:type => "button", :class => "btn"}
              Sign up!
      .span4{:class => 'text-right'}
        = button_to ' Sign in!', root_path(), class: "btn"