.row-fluid{:class => 'social-media'}
  .span6{:class => 'text-left'}
    %img{:src => '/assets/rannis_96.png', :alt => 'Tax Office'}
  .span6{:class => 'text-right'}
    %span{:class => 'contact-text'} 
      Contact with us: 
    %a{:href=>"mailto:qodiag@qodiag.com?Subject=Fyrirspurn - Qodiag"} 
      %i{ :class => 'c-icon medium mail'}        
.row-fluid{:class => 'subfooter'}
  %p
    Copyright 2013 © Qodiag.com
  %ul{:class => 'inline'}
    %li
      %a{:href=>"#"} Terms
    %li
      %a{:href=>"#"} Privacy
    %li
      %a{:href=>"#"} Contact Us
  


