.row-fluid{:class => 'social-media'}
  .span1
    %img{:src => '/assets/rannis_96.png', :alt => 'Tax Office'}
  .span3{:class => 'offset8 contact'}
    %span{:class => 'contact-text'} 
      Contact with us: 
    %a{:href=>"mailto:qodiag@qodiag.com?Subject=Fyrirspurn - Qodiag"}
      %i{:class => 'fc-icon-mail-box icon-dark icon-2x'}        
.row-fluid{:class => 'subfooter'}
  %p
    Copyright 2013 © Qodiag.com