.row-fluid{:class => 'social-media'}
  .span1
    %img{:src => '/assets/rannis_96.png', :alt => 'Tax Office'}
  .span3{:class => 'offset3'}
    %p
      Copyright 2013 © Qodiag.com
  .span3{:class => 'offset2 contact'}     
    %a{:href=>"mailto:qodiag@qodiag.com?Subject=Fyrirspurn - Qodiag"}
      qodiag(at)qodiag.com

  