#header{:class => 'lights'}

  .row-fluid
    .span6{:class => 'stripes hidden-phone hidden-tablet'}
      %ul
        %li
          %em Staðlaðir listar
          %i{:class => 'fc-icon-employee-evaluation'}
        %li
          %em Eyðublöð
          %i{:class => 'fc-icon-form-document'}
        %li
          %em Samskipti
          %i{:class => 'fc-icon-dialog'}
        %li
          %em Yfirsýin
          %i{:class => 'fc-icon-chart-documents'}
        %li
          %em Öryggi gagna
          %i{:class => 'fc-icon-secure'}


      
    .span6
      %h1.logo
        Qodiag
      %p.offset1
        Auðveldar söfnun og úrvinnslu klínískra gagna. 
      %img{:src => '/assets/login/computer_large.png', :alt => 'Qodiag', :class => 'computer hidden-phone hidden-tablet'}
      = link_to t("actions.log_in"), new_user_session_path(), :class => "button btn"

  =render "pages/landing_page/apply" 