%div{:class => "row user-row"}
  .col-md-1
    =image_tag @response_set.subject.avatar.url(:tiny), {:class => 'avatar'}
  .col-md-11
    %h4
      %b
        = t("surveys.#{@response_set.survey_name}.name")
    %h5
      = @response_set.subject.full_name
    %span
      Svarast fyrir:
      %b
        = l(@response_set.responder_item.deadline, :format => :short)