-if session['last_user_id'].present?
  %section.alert-login-as 
    %section{:class=>"panel"}
      %header{:class=>"panel-heading"}
        %h1
          = t('views.application.partial.alert_login_as.attention')
      .panel-body
        %p 
          = t('views.application.partial.alert_login_as.message')
        %a{:class => "btn btn-large btn-info", :href => logout_as_path(session['last_user_id'])}
          = t('terms.go_back')

