-if session['last_user_id'].present?
  .well{:class => "well-large text-center"}
    %h1 
      Attention
    %p You have logged-in like the patient respondent. To go back as a caretaker, please click the link below
    %a{:class => "btn btn-large btn-info", :href => logout_as_path(session['last_user_id'])}
      Go back!