// %h1{:class => 'content_title'}
//   =yield(:content_title_image)
//   =yield(:content_title)
//   %h5{:class => 'content_title_sub'}
//     =yield(:content_title_sub)

// =yield(:subject_nav)
.row
  .col-lg-12
    =yield(:subject_nav)
