- f ||= locals[:form_builder]
- record = f.object
- errors = record.errors
-if errors.any?
  #errorExplanation
    %h2
      - if errors.count == 1
        = t 'activerecord.errors.template.header.one', :model => record.class.model_name.human
      - else
        = t 'activerecord.errors.template.header.other', :model => record.class.model_name.human, :count => errors.count