%section#content-header
  .row
    .col-lg-4
      .state-overview
        %section{:class=>"panel"}
          .symbol{:class=>"red"}
            %i{:class=>"fa fa-user"}
          .value
            %h1
              = @patients.count
            %p
              = t('terms.client', :count => 2)

    .col-lg-4
      .state-overview
        %section{:class=>"panel"}
          .symbol{:class=>"blue"}
            %i{:class=>"fa fa-bar-chart-o"}
          .value
            %h1
              = current_user.person.responder_items.surveys.count
            %p
              Surveys

    .col-lg-4
      .state-overview
        %section{:class=>"panel"}
          .symbol{:class=>"terques"}
            %i{:class=>"fa fa-list"}
          .value
            %h1
              = (current_user.person.responder_items.count - current_user.person.responder_items.surveys.count)
            %p
              Questionaires

  