.wrapper-p
	%ul
		%li#mh-t.selected Sjúkrasaga
		%li#en-t Umhverfi
		%li#de-t Heilsufars og þroskasaga

	%div.history-box

	%section#mh
		%div
			%h3 Upphaf
			%p
				Sem fyrr segir skilgreinir móðir ekki vandamál heima fyrir en segir drenginn
					
		%div
			%h3 Vandamál byrjar/tímabil án vandamála
			%p Um 4 ár aldur


		%div
			%h3 Fyrstur til að koma auga á vandamálið
			%p Foreldrar

		%div
			%h3 Fyrtsu merki
			%p Mótþrói, athygliserfiðleikar, þroskaseinkun
					
		%div
			%h3	Gangur
			%p
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo

		%div
			%h3 Inngrip
			%p 
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et 	dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo

		%div
			%h3 Lyfjameðferð
			%p 
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo


	%section#en
		%div
			%h3 Vandamál í nánustu fjölskyldu
			%p
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					
		%div
			%h3 Félagslegt soðkerfi/stuðningur
			%p 
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo

		%div
			%h3 Samskipti við skóla
			%p 
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo

		%div
			%h3 Atvinnumál foreldra
			%p 
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					
		%div
			%h3	Fjárhagur
			%p
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo

		%div
			%h3 Húsnæði
			%p 
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo


	%section#de
		%div
			%h3 kddk
			%p
				