.wrapper-p
	%h2 Móðir
	%div
		%table
			%tr
				%td Nafn:	
				%td Guðrún Guðnadóttir
			%tr
				%td Fæðingaár:	
				%td 1969
			%tr
				%td Heimilisfang:	
				%td Dúfnahólar 10 108, Reykjvík
			%tr
				%td Atvinna:
				%td Kennari
			%tr
				%td Vinnustaður:
				%td Grundaskóli
			%tr
				%td Heimasími:
				%td 555-4949
			%tr
				%td GSM:	
				%td 655-9595

	%h2 Faðir
	%div
		%table
			%tr
				%td Nafn:	
				%td Jón Sveinsson
			%tr
				%td Fæðingaár:	
				%td 1968
			%tr
				%td Heimilisfang:	
				%td Aðalstræti 54 600, Akureyri
			%tr
				%td Atvinna:
				%td Smiður
			%tr
				%td Vinnustaður:
				%td Grundaskóli
			%tr
				%td Heimasími:
				%td 555-4949
			%tr
				%td GSM:	
				%td 655-9595


	%h2 Systkin
	%div.siblings
		%h3 Allsystkin
		%table
			%tr
				%td Nafn
				%td Aldur
			%tr
				%td Ási Jónsson
				%td 5 
			%tr
				%td Sigríður Jónsdóttir	9	
				%td 9
		%h3 Hálfsystkin (sammæðra)
		%table
			%tr
				%td Nafn
				%td Aldur
			%tr
				%td Geir Karlsson
				%td 2
			%tr
				%td Linda Bjarnadóttir
				%td 12
		%h3 Hálfsystkin (samfeðra)
		%table
			%tr
				%td Nafn
				%td Aldur
			%tr
				%td Guðmundur Jónsson	
				%td 1
			%tr
				%td Halli Jónsson
				%td 2
		%h3 Fóstursystkin
		%table
			%tr
				%td Nafn
				%td Aldur
			%tr
				%td Sigurjón Bjarnason
				%td 15
			%tr
				%td Súsanna Bjarnadóttir
				%td 12
			%tr
				%td Lárus Guðmundsson
				%td 11

