%ul
  - @wizard.steps.each_index do |i|
    -status = @wizard.current_step == @wizard.steps[i] ? "active" : ""
    - j = i+1
    %li{:class => status}
      %b= j
      %i= new_or_edit_link(@patient, j ,@wizard.steps[i]) 

