%ul.wizard-nav
  - @wizard.steps.each_index do |i|
    -status = @wizard.current_step == @wizard.steps[i] ? "active" : ""
    - j = i+1
    %li{:class => status}
      %p
        %b= j
        -step_translation = t("terms.#{@wizard.steps[i]}")
        = new_or_edit_link(@patient, j ,step_translation) 

