-if item.item_type.eql?('survey')
  =link_to t('actions.finish'), edit_my_survey_path(:survey_code => item.survey.access_code,:response_set_code => item.response_set.access_code), :class => 'btn-china color-2'