:javascript
    $(document).ready(function(){
      jQuery('#users').dataTable({
        "sDom": "<'row'<'col-sm-6'l><'col-sm-6'f>r>t<'row'<'col-sm-6'i><'col-sm-6'p>>",
        "sPaginationType": "bootstrap",
        "language": {
            "url": "assets/data-tables/locales/" + I18n.locale + ".json"
        },
        "aoColumnDefs": [{
                'bSortable': true,
                'aTargets': [0]
            }, 
            {
                'aTargets': [ 1, 2, 3 ],
                'bSortable': false
        }]
      });


      jQuery('#users_wrapper .dataTables_filter input').addClass("form-control"); // modify table search input
      jQuery('#users_wrapper .dataTables_length select').addClass("form-control"); // modify table per page dropdown
    })