@import partials/base.sass


// =============== Constants =======================
!table_even = #EBEBEB
!table_odd = #DBE7FF
!border_lightblue = 1px "solid" #DFE2FF
!grey_ultralightest = #fcfcfc
!grey_ultralight = #f9f9f9
!grey_lightest = #f4f4f4
!grey_lighter = #eaeaea
!grey_light = #DFDFDF
!grey = #bcbcba
!grey_dark = #7c7c7c 
!grey_darker = #636362
!orange_light = #FFCA6F
!orange = #FF981F
!green_ultralight = #deffdd
!green_lightest = #DFFFE0
!green_light = #A4EFA7
!green_dark = #158F00
!yellow_lightest = #FFFBCF
!yellow_light = #FFF79F
!blue_lightest = #DFE2FF
!blue_light = #AFB6FF
!blue_dark = #3b4991
f9f9f9


!header_border_lightblue = 1px "solid" #DFE2FF
!h2_border_width = 1px 0 1px 0
!h2_font_size= 1.4em


// =============== General =======================
#wrapper
  +linear-gradient(color-stops(#dfdfdf, #ffffff))

#container
  +container
  :background-color #fff
  +box-shadow()
  :border= 1px "solid" !grey_light 
  :border-width 0 1px

#header 
  position: relative
  :border-bottom= 1px solid !green_lightest
  :margin-bottom 22px
  h2
    :margin 10px  
    +replace-text("logo01.jpg")
    :height 50px
    :width 187px
  #login
    :position absolute
    :top 20px
    :right 10px

#content
  +clearfix
  +prepend(1)
  +append(1)
  :margin-bottom 40px
  
#content table
  +alternating-rows-and-columns(!table_even, !table_odd,#222)

hr.break
  :visibility hidden
  :margin 0
  
//+sticky-footer(72px, "#container", "#layout_footer", "#footer")    

#footer
  :margin 25px
  :border-top= 1px solid !grey_light
  span
    :display block
    :margin-top 25px
    +prepend(12)
ul
  +no-bullets
  :padding-left 0
  
.section
  +clearfix

.icon-container
  +clearfix
  
.icon
  :float left
  :padding 3px 3px 3px 22px
  :background-color= !blue_light
  :border= 2px solid !blue_lightest
  :color #333
  :text-decoration none
  :font-weight bold
 
.add-user
  :background url('../img/icons/16x16/userplus32.png') 3px 3px no-repeat
 

// =============== FORMS =======================
.family-registration
  +clearfix
  form
    +column(18)
  h3
    :color= !grey_darker
    :padding 5px
    :background-color= !blue_lightest
    :border= !blue_light 1px solid
  p
    :margin 0
    :font-weight bold

label
  :font-weight bold
  :color #666

fieldset h2
  :font-size 1.3em
  :font-weight bold
  :display block
  :border-bottom= 1px "solid" !grey_lightest 

.frm-section
  :padding-top 2px
  :margin-bottom 20px
  :position relative
  h4
    :padding 2px 5px
    :color= !blue_dark
    :background-color= !grey_lightest
    :border-right 5px solid #fff


.field
  :margin-left 7px
  :padding-top 2px
  :padding-bottom 3px
  +prepend(1)
  +clearfix
  .field
    +prepend(3)
  span
    :margin-bottom 2px
  label
    +column(3)

   
.inp-rdo 
  label
    :float none
  span
    :display block
  input
    :margin 0
  
.inp-txt 
  span:nth-child(3n+0)
    +prepend(3)
    display: block
    margin-top: 2px
  input
    +span(6)
    
.inp-btn  
  :margin-top 15px
  :margin-left 5px
  :padding-top 10px
  :border-top= 1px !grey_light solid
  span
    :float right

input[type='submit']
  :border-width 0
    
#person_full_date
  :width 140px
#person_cpr
  :width 73px
  
//------ register spouse ------- 
.added-spouse
  :border= 2px solid !green_light
  :background-color= !green_lightest
  :margin-top 10px
  :position relative
  +span(13)
  .inp-btn
    :margin-left 0
    :border-top= 1px solid !green_light
    :background-color #F0FFEF
    :padding 7px 10px 7px 0
  .mask
    :background-color #fff
    :position absolute  
    :top 0
    :bottom 0
    :width 100%
    +opacity(0.9)
    b
      :font-size 1.6em
    a
      :margin-left 4px
    p
      :margin 11px 0 0 18px
  em
    :position absolute
    :top 5px
    :left 12px

.added-spouse.status-closed
  a.close-spouse
    :display none
  .inp-btn 
    :border none
    :margin 0

  
.added-spouse.status-open
  a.edit-spouse
    :display none
  em
    :display none

.added-member
  :display none
  :position relative
  :margin 8px 0 3px 7px
  :border= 2px solid !yellow_light
  :background-color= !yellow_lightest
  +clearfix

.added-member p
  :font-weight bold
  :color= !green_dark
  :margin 7px

.added-member span
  :position absolute
  :top 4px
  :right 4px
  
.added-member a.button
  :margin-left .5em



.reg-member div a
  :margin-left 10px
  :cursor pointer

// =============== FAMILY OVERVIEW ==============
.family-overview div.section 
  :padding 1em
  



.family-overview h1:first-child + div
  :display block

.family-overview h1
  :background-color= !grey_ultralight
  :border= 1px solid !grey_lightest
  :font-size 1.7em
  :padding .4em 0 .4em .9em
 
.family-overview 
  h2
    :border-bottom= 1px solid !grey_lightest
    :font-size= !h2_font_size
    :margin-bottom 5px
  h3
    :font-size 14px
    :color! !grey_dark 
    :margin-bottom 3px
    
    
.family-overview .section .parent-info 
  :position relative
  +column(10)
  li
    :padding 1px 0
    :border-bottom= solid 1px !grey_lighter
    +clearfix
  li:nth-child(even)
    :background-color= !grey_ultralightest
  li:nth-child(odd)
    :background-color= !grey_ultralight
  b
    +column(2)
    :padding 0 2px

.family-overview .section .spouse-info 
  +column(10)
  li
    :border= !green_lightest solid 1px
    :margin-bottom 2px
    :background-color= !green_ultralight
 
.family-overview .section table
  +inner-table-borders(1px, #7a98c6)
  +outer-table-borders(1px)

.family-overview .icon
  :display block
  :padding-left 22px
  :position absolute
  :top 8px
  :right -22px
  :text-indent -99999px
  +span(1)

#dialog
  :display none
  
// =============== FAMILY REGISTRATION ==============

ul.wizard-nav 
  +horizontal-list(0)
  :margin-bottom 30px
  li
    :border= !border_lightblue
    :text-align center
    :margin-right 18px
  li.active
    :background-color= !grey_lightest
  b
    :display block
    :font-size 1.2em
    :border-bottom= !border_lightblue
    :background-color= !orange_light
    +span(3)
  i
    :display block

// =============== Toggle classes ==============
.hidden, .off
  :display none
.on
  :display block
  
#address.on
  :display block
  .new_address
    :display block
  .existing_address
    :display none 
#address.off
  :display block
  .new_address
    :display none
  .existing_address
    :display block








  



