@import partials/base.sass
@import partials/icons.sass
@import partials/simple_form.scss
@import partials/wizard.sass
@import partials/debug_header.sass



// =============== General =======================
body
  :font-family 'Droid Sans', arial, serif
  :font-size 12px

#header
  position: relative
  +clearfix
  :border-bottom= 1px solid !green_lightest
  :background-color #000
  h2
    +replace-text("logo02.png")
    :position absolute
    :width 45px
    :height 29px
  ul
    +horizontal-list
    li
      :padding 7px 2px
  ul.nav
    +column(15)
    +prepend(2)
    li
      a
        :display block
        :border #666 solid 1px
        :height 31px
        :width 31px
        :background-color #333
        +border-radius(5px)
        &:hover
          :background-color #000
      &.home
        a
          +replace-text("nav/home.png")
      &.settings
        a
          +replace-text("nav/settings.png")
  ul.login
    +column(9)
    li:first-child
      +append(2)
    a
      :color #fff


#container
  +clearfix
  +container
  :min-height 500px
  :margin 100px 50px
  :background-color #fff
  :border-width 0 1px

#content
  +clearfix
  +prepend(1)
  +append(1)
  :margin-bottom 40px

#flash div
  +column(24)
  :display none
  :position absolute

#footer
  :margin 25px
  :border-top= 1px solid !grey_light
  span
    :display block
    :margin-top 25px
    +prepend(12)

.alert
  +error
.overdue
  +error
.uncompleted
  +notice
.recently_completed
  +success

ul
  +no-bullets
  :padding-left 0

hr.break
  :visibility hidden
  :margin 0


table
  :width 100%
  th
  th, td
    :padding 2px 2px 2px 8px
  th
    :color= !china1
    :border-bottom= 1px solid !grey_light
  td
    :color= !grey_dark

//#content table
//  +alternating-rows-and-columns(!table_even, !table_odd,#222)

.section
  +clearfix

.ajax_notice
  :position absolute
  :top 0
  :left 0
  :width 100%
  :background-color= !yellow_light
  span
    :font-size 1.5em
    :padding-top 10px
    :padding-bottom 10px
    +prepend(14)

.notice.large
  :margin 15px 0
  :padding 30px 40px 30px 100px
  :background-image url('/images/notice/notice.png')
  :background-repeat no-repeat
  :background-position 10px 50%

.clear
  +clearfix
  :visibility hidden


//------ register spouse -------
.spouse
  :margin 0 2em
.added-spouse
  :position relative
  :margin 1em 0
  :padding .5em 0
  :border-bottom 1px dashed #999
  &:last-child
    :border-bottom-width 0
  > div
    :margin 0 2em

.added-spouse:first-child
  :border-top 1px dashed #999

//------ register sibling -------
.siblings_list
  +clearfix
  :margin-bottom 4px
  ul
    +column(5)
    :border= 1px solid !china5
    :border-width 0 1px 0 1px
  h4
    :margin-bottom 2px
    :padding 6px 0 12px 28px
    :color= !china2
  li
    :color #333
    p
      :margin 0 3px 2px 3px
      :padding-bottom 2px
      :border-bottom= !china5 1px solid
    em
      :float right
  a
    +sn-btn(!china5,!china3)

.siblings_list ul li:first-child
  :background-color= !china5
  :margin-bottom 20px

.siblings_list li:last-child
  :padding 20px 0 8px 10px


#full_sibling_list h4
  :background url('/images/fullsibling-16.png') 5px 5px no-repeat
#half_sibling_mother_list h4
  :background url('/images/halfsibling-16.png') 5px 5px no-repeat
#half_sibling_father_list h4
  :background url('/images/halfsibling-16.png') 5px 5px no-repeat
#foster_sibling_list h4
  :background url('/images/fostersibling-16.png') 5px 5px no-repeat
.select-sibling
  :margin-bottom 10px

// =============== GUARDIAN ==============
.guardians
  .notice
    p
      :margin-left 20px
    a
      +sn-btn(!china5,!china3)
    td:nth-child(1n+3)
      :float right
      :margin-left 11px

// =============== FAMILY OVERVIEW ==============
.family-overview div.section
  :padding 1em




.family-overview h1:first-child + div
  :display block

.family-overview h1
  :background-color= !grey_ultralight
  :border= 1px solid !grey_lightest
  :font-size 1.7em
  :padding .4em 0 .4em .9em

.family-overview
  h2
    :border-bottom= 1px solid !grey_lightest
    :font-size= !h2_font_size
    :margin-bottom 5px
  h3
    :font-size 14px
    :color! !grey_dark
    :margin-bottom 3px


.family-overview .section .parent-info
  :position relative
  +column(10)
  li
    :padding 1px 0
    :border-bottom= solid 1px !grey_lighter
    +clearfix
  li:nth-child(even)
    :background-color= !grey_ultralightest
  li:nth-child(odd)
    :background-color= !grey_ultralight
  b
    +column(2)
    :padding 0 2px

.family-overview .section .spouse-info
  +column(10)
  li
    :border= !green_lightest solid 1px
    :margin-bottom 2px
    :background-color= !green_ultralight

.family-overview .section table
  +inner-table-borders(1px, #7a98c6)
  +outer-table-borders(1px)

.family-overview .icon
  :display block
  :padding-left 22px
  :position absolute
  :top 8px
  :right -22px
  :text-indent -99999px
  +span(1)

#dialog
  :display none

// =============== FAMILY REGISTRATION ==============

// =============== Toggle classes ==============
.hidden, .off
  :display none
.on
  :display block

#address.on
  :display block
  .new_address
    :display block
  .existing_address
    :display none
#address.off
  :display block
  .new_address
    :display none
  .existing_address
    :display block












