-@timeline = Timeline.new(@person)
=render "shared/timeline/timeline_styles"
=render "people/patient/timeline_info_header"

#canvas
:javascript
  rable_subject = #{render template: "people/show.json.rabl"}

  $(document).ready(function(){     
    window.controller = new App.Controllers.ResponderItemsController({
      timeline: #{render template: "shared/timeline/timeline.json.rabl"}, 
      responder_items: #{render template: "responder_items/index.json.rabl"}
    }); 
    App.init(); 
  });
  

