-@timeline = Timeline.new(@person)
=render "shared/timeline/timeline_styles"
/ =link_to "reload", person_path(@person,:trailing_slash => true), :class => "button green large"
#canvas
/ =link_to "reload", person_path(@person,:trailing_slash => true), :class => "button green large"
:javascript
  $(document).ready(function(){
    window.controller = new App.Controllers.ResponderItemsController({timeline: #{@timeline.settings.to_json}, responder_items: #{responses.to_json}});
    App.init();
  })
