-@timeline = Timeline.new(@person)
=render "shared/timeline/timeline_styles"
=render "people/patient/timeline_info_header"

#canvas
:javascript
  $(document).ready(function(){     
    window.controller = new App.Controllers.ResponderItemsController({
      timeline: #{render template: "shared/timeline/timeline",formats: [:json]}, 
      responder_items: #{render template: "responder_items/index",formats: [:json]}
    }); 
    App.init(); 
  });
  

