-@timeline = Timeline.new(@person)
=render "shared/timeline/timeline_styles"
=render "people/patient/timeline_info_header"

#canvas
:javascript 
	$(document).ready(function(){     
		window.controller = new App.Controllers.ResponderItemsController({timeline: #{@timeline.settings.to_json}, responder_items: #{responses.to_json}}); App.init();
		});
	

