=content_for :style_header do
  :sass
    #{dimensions(@timeline)}  
    $header_height: $line_height/2
    $nav_height: $line_height*0.3
    #canvas
      width: $canvas_width
      &>nav
        li
          width: $history_view_width/2
          height: $nav_height
    #tml-body 
      &>ul
        padding-top: $header_height
        li
          height: $line_height
          width: $gutter_width
    #tml-history
      width: $history_width
      &>ul
        li
          height: $header_height
          width: $history_view_width
        span
          height: $header_height
        b
          height: $nav_height
          line-height: $nav_height
      .line
        &.state-closed
          height: $line_height
        &.state-open
          height: $line_height_expanded + $header_height
      .item
        top: $line_height/3 
    .line-overlay
      height: $line_height_expanded
      width: $canvas_width
      &.chart-dialog
        margin-top: $header_height
      &.new-item
        width: $canvas_width - 20px
        left: 10px
        .left, .right 
          width: 40%  


    
    .line:nth-child(1) .line-overlay
      top: ($line_height * 1) - ($line_height*1.5)
    .line:nth-child(2)  .line-overlay
      top: ($line_height * 2) - ($line_height*1.5) 
    .line:nth-child(3)  .line-overlay
      top: ($line_height * 3) - ($line_height*1.5) 
    .line:nth-child(4)  .line-overlay
      top: ($line_height * 4) - ($line_height*1.5) 
    .line:nth-child(5)  .line-overlay
      top: ($line_height * 5) - ($line_height*1.5) 
    .line:nth-child(6)  .line-overlay
      top: ($line_height * 6) - ($line_height*1.5)
       
