=content_for :style_header do
  :sass
    #{dimensions(@timeline)}  
    $header_height: $line_height/2
    $nav_height: $line_height*0.3
    $survey_menu_width: $gutter_width * 3 
    $timeline_hrz_padding: 50px
    $overlay_width: $canvas_width - 30px
    $chart_margin: 50px    
    $chart_width: $overlay_width - $chart_margin
    #canvas
      width: $canvas_width
      margin-top: $nav_height + 15px
      &>nav
        font-size: 1em
        top: -2em
        left: $gutter_width
        li
          width: $history_view_width/2
          
    #line-headings
      padding: $timeline_hrz_padding 0
      width: $gutter_width
      li
        height: $line_height
    #survey-menu
      width: $survey_menu_width
      &.state-closed
        left: -$survey_menu_width
      &.state-open
        left: 0
    #tml-history
      width: $history_width
      min-height: $line_height*2
      padding: $timeline_hrz_padding 0
      &>ul
        top: -$timeline_hrz_padding
        margin-bottom: -($line_height + $timeline_hrz_padding)
        li
          height: $line_height * 1.5
          width: $history_view_width
        span
          height: $header_height
        b
          height: $line_height
          line-height: $nav_height
      .line
        &.state-closed
          height: $line_height
        &.state-open.overlay-charts
          height: $line_height_expanded + $line_height + $header_height
        &.state-open.overlay-new-item
          height: $line_height_expanded + $header_height
      .item
        top: $line_height/3 
    .line-overlay
      height: $line_height_expanded
      width: $overlay_width
      left: 15px
      &.chart-dialog
        margin-top: $line_height
        .chart-wrapper
          width: $overlay_width * 2
          height: $line_height_expanded
          .column-chart, .line-chart
            width: $chart_width
            margin-left: $chart_margin 
          .chart
            height: $line_height_expanded
      &.new-item
        .left, .right 
          width: 40%
      ul.chart-metrics
        // width: $overlay_width
        top: $header_height * 1.2
        left: $overlay_width * 0.4

    .line:nth-child(1) .line-overlay
      top: ($line_height * 1) - ($line_height*1.5)
    .line:nth-child(2)  .line-overlay
      top: ($line_height * 2) - ($line_height*1.5) 
    .line:nth-child(3)  .line-overlay
      top: ($line_height * 3) - ($line_height*1.5) 
    .line:nth-child(4)  .line-overlay
      top: ($line_height * 4) - ($line_height*1.5) 
    .line:nth-child(5)  .line-overlay
      top: ($line_height * 5) - ($line_height*1.5) 
    .line:nth-child(6)  .line-overlay
      top: ($line_height * 6) - ($line_height*1.5)
       
