-parents = locals[:parents]
-type = locals[:type]
/ -first_parent = parents.kind_of?(Array) ? parents.first : parents
-parent_relationship = parents.first.relationships.build(:name => 'parent')


-if type != 'foster_sibling'
  -child =  parent_relationship.build_relation
-else
  -child = Person.new
  
= form_for child, :remote => true do |f|  
  -if type != 'foster_sibling'
    =parent_relationship.inspect
    =f.fields_for :inverse_relationships, parent_relationship do |parent_form|
      =parent_form.text_field :person_id
      =parent_form.text_field :name

    -if type == 'full_sibling' && parents.size == 2
      =render "people/siblings/second_parent_form", :locals => {:form_builder => f, :parent => parents.last}
    -elsif type == 'half_sibling'
      =render "people/siblings/second_parent_select", :locals => {:form_builder => f, :parents => parents.first.spouses - @patient.parents}
  -else 
    =render "people/siblings/second_parent_select", :locals => {:form_builder => f, :parents => parents}

  .frm-section
    %h4 Systkin
    =render "people/siblings/sibling_data", :locals => {:form_builder => f}
  
  %hr.clear
  .field.inp-btn
    %ul
      %li
        %button.x-small.red.button.cancel
          ="#{t('actions.cancel')}"  
      %li
        = f.submit :value => t('actions.save'),  :class => 'button green x-small'

  