-mother_relationship = @mother.relationships.build
= form_for mother_relationship, :remote => true do |f|  
  =f.text_field :person_id
  =f.text_field :name, :value => "parent"
  -child = mother_relationship.build_relation
  =f.fields_for :relation, child do |child_form|
    =child_form.label :firstname
    =child_form.text_field :firstname
    -father_relationship = child.inverse_relationships.build
    =child_form.fields_for :inverse_relationships, father_relationship do |fr_form|
      =fr_form.text_field :name, :value => "parent"
      =fr_form.text_field :person_id, :value => @father.id
  .field.inp-btn
    %span
      = f.submit :value => t('actions.save'),  :class => 'button green'  
