-child = f.object.build_relation
-spouses = get_spouses_exclude_patient_parent(parent, @patient)
.nested-item
  =f.text_field :name, :value => "parent"
  =f.text_field :person_id, :value => parent.id
  / .field.inp-rdo
  / -spouses.each_index do |i|
  /   -spouse = spouses[i]
  /   =f.fields_for :relation, child do |child_form|
  /     -content_for :jstemplates do
  /       -locals = {:form_builder => child_form, :parent_id => spouse.id}
  /       != "var add_second_parent_#{spouse.id} = '#{escape_javascript render 'siblings_second_parent', :locals => locals}'"
  /   %span
  /     =label_tag spouse.relation[:firstname]
  /     =radio_button_tag "parent", spouse.relation[:firstname], "", :class => "action_element {name: 'add_second_parent_#{spouse.id}'}"
  =f.fields_for :relation, child do |child_form|
    =render "siblings_core", :locals => {:form_builder => child_form}
  .second_parent


