-f ||= locals[:form_builder]
-type = locals[:sibling_type]
-parent = locals[:parent]




-options = {:partial => sibling_partial("sibling_first_parent")}
-if type == "full_sibling"
  =render sibling_partial("sibling_first_parent"), :locals => {:form_builder => f, :parent => parent}
-elsif type == "half_sibling"
  -content_for :jstemplates do
    != "var add_father = '#{escape_javascript render sibling_partial('sibling_first_parent'), :locals => {:form_builder => f, :parent => @father}}'"
    != "var add_mother = '#{escape_javascript render sibling_partial('sibling_first_parent'), :locals => {:form_builder => f, :parent => @mother}}'"
  =render sibling_partial("siblings_parent_select"), :locals => {:form_builder => f}

