
-half_sibling_options = {:partial => sibling_partial("sibling_first_parent")}
-content_for :jstemplates do
  != "var add_father = '#{escape_javascript render sibling_partial('sibling_first_parent'), :locals => {:parent => @father}}';"
  != "var add_mother = '#{escape_javascript render sibling_partial('sibling_first_parent'), :locals => {:parent => @mother}}';"


.nested-context.nested-item
  .field.inp-rdo
    %span
      =label_tag @mother.firstname
      =radio_button_tag "half_sibling", "mother", "", :class => "action_element {name: 'add_mother'}"
    %span
      =label_tag @father.firstname
      =radio_button_tag "half_sibling", "father", "", :class => "action_element {name: 'add_father'}"
      
      

  .half_sibling_first_parent

  