%br
.hero-unit{:class=>'alert-unauthorized center'}
  %h1
    = t('views.401_page.content.unauthorized')
    %small
      401
  %br
  %p
    = t('views.401_page.content.message')
  %p
    %b
      = t('views.401_page.content.go_homepage')
  %div{:class=>'text-center'}
    = link_to = t('views.401_page.content.button_home'), root_path(), :class => "button btn"
