%br
.hero-unit{:class=>'alert-unauthorized center'}
  %h1
    Unauthorized
    %small
      401
  %br
  %p
    You are not allowed to see this content, either contact your webmaster or try again. Use your browser's <b>Back button</b> to navigate to the page you have prevously come from
  %p
    %b
      Or you could go to your Home Page
  %div{:class=>'text-center'}
    = link_to "Take me home", root_path(), :class => "button btn"
