-content_for :landing_page_header do
  =render "pages/landing_page/apply_sign_in"
%br
.hero-unit{:class=>'alert-unauthorized center'}
  %h1
    = t('views.401_page.content.unauthorized')
    %small
      401
  %br
  %p
    = t('views.401_page.content.message')
  %p
    %b
      = t('views.401_page.content.go_loginpage')
  %div{:class=>'text-center'}
    = link_to t("actions.log_in"), new_user_session_path(), :class => "button btn"
  