=content_for :body_class, "help"
%div.help-intro
  %h1
    Snarpur er...
  %p
    Nýsköpunarverkefni þar sem unnið er að þróun hugbúnaðar sem auðveldar söfnun og úrvinnslu gagna í starfi sérfræðinga sem taka sér skjólstæðinga til meðferðar s.s. lækna, sálfræðinga og félagsráðgjafa.
  %p
    Til þess að gansemi og að Snarpur geti uppfylli sérhæfðar kröfur ólíkra stétta er nauðsynlegt að notendur séu þátttakendur í mótun kerfisins. Þróunn Snarps byggir á notendamiðaðri hönnun(user centered design) sem í stuttu máli felst í því að notendur og þarfir þeirra eru miðpunktur í þróunarferlinu. Þessi vefur er til þess notendur geti prófað hugbúnaðinn á á maðan hann er ennþá á byrjunarstigi, ábendingar og hugmyndir þeirra mun svo liggja til grundvallar við áframhaldandi þróun.
  %h1
    Vinsamlegast athugið að
  %ul
    %li
      óvæntar villur get komið upp
    %li 
      gögn í kerfinu er skálduð engin gögn um raunverulegar einstaklinga

  %h1
    Á þessu stigi gerir Snarpur notendum kleift að að:
  %ul
    %li Senda beiðni til skjólstæðinga um að fylla út spurningalista 
    %li Birta niðurstöður spurningalista og viðmiðunargildum
  %br
  %br
  %p Skjámyndir hér fyrir neðan sýna þær aðgerðir sem hægt er að framkvæma

  %h2 Næstu skref í þróun verða
  %ul
    %li Sýna staðalfrávik og hundraðastaröð þar sem við á
    %li Bæta við listum eftir óskum
    %li Kennaramat
    %li 
      Stillingar á beiðnum um útfyllingu lista:
      %ul 
        %li Endurtekningar
        %li Áminningar til skjólstæðinga um ókláraðar beiðnir
        %li Skjólstæðingur skráir ýtarlegri upplýsingar (Þætti úr heilsufarssögu, sjúkrasögu o.fl.)
    %li Annað sem notendur telja mikilvægt
      

%div
  %h1 Aðgerðir - starfsmenn
  %table
    %tr
      %th{:colspan => 2}
        Yfirlit yfir skjólstæðinga
    %tr 
      %td
        %div      
          %img{:src => "/assets/help/overview.png"}
      %td
        Til að skrá nýjan skjólstæðing er smellt á takkan hægra megin við leitarboxið
    %tr
      %th{:colspan => 2}
        Skráning skjólstæðinga
    %tr 
      %td
        %div
          %img{:src => "/assets/help/registration.png"}
      %td
        Upplýsingar fylltar út og smellt á "Skrá". Þá er tölvupóstur sendur til forráðamanns með slóð þar sem lykilorð er valið.
        %br
        %em ATH! Núna eru sendingar á tölvupósti óvirkar
    %tr
      %th{:colspan => 2}
        Yfirlit yfir listum sem skjólstæðingur hefur svarað
    %tr 
      %td
        %div
          %img{:src => "/assets/help/timeline-overview.png"}
      %td
        Merkin tákna
        %ul
          %li Gulur = Ósvarað skilafrestur ekki útrunninn
          %li Rauður = Ósvarað skilafrestur útrunninn
          %li Grænn = Svarað
        Þegar smellt er á græna merkið birtast niðurstöður.
        %br
        %br
        Þegar smellt er á "listar" birtist valmöguleiki að birta og fela lista(sjá mynd fyrir neðan)
    %tr
      %th{:colspan => 2}
        Fela/birta lista á tímalínu 
    %tr
      %td
        %div
          %img{:src => "/assets/help/select-list.png"}
      %td

    %tr
      %th{:colspan => 2}
        Birting á niðustöðum spurningalista
    %tr 
      %td
        %div
          %img{:src => "/assets/help/columnchart.png"}
        %div
          %img{:src => "/assets/help/linechart.png"}
      %td
        Niðurstöður og viðmið. Skipta á milli birtingamöguleika með tökkunum í hægra horni
        %br
        %br
        Þegar semllt er á heitinn neðst í línuriti er hægt að fela og birta einstakar mælingar
    %tr
      %th{:colspan => 2}
        Senda beiðni um útfyllingu spurningalista
    %tr 
      %td
        %div
          %img{:src => "/assets/help/send-request.png"}
        %div
          %img{:src => "/assets/help/calendar.png"}
      %td
        Þegar músinni er rent yfir svæðið með heiti spurningalista birtist lítill blár plús takki. 
        %br
        %br
        Þegar smellt er á takkan birtist dagatal þar sem skiladagur er valinn. 
        %br
        %br
        Skjólstæðingur fær þá senda beiðni í tölvupósti um að skrá sig inn á www.snarpur.is og fylla út spurningalista
        %br
        %em ATH! Núna eru sendingar á tölvupósti óvirkar 



%div
  %h1 Aðgerðir - skjólstæðingar
  %table
    %tr
      %th{:colspan => 2}
        Yfirlit yfir skjólstæðinga
    %tr 
      %td
        %div      
          %img{:src => "/assets/help/survey-overview.png"}
      %td
        Þegar beiðni um að fylla út spurningar hafa verið send fær skjólstæðingur tölvupóst. Þegar skjólstæðingur skrár sig er birtast ókláraðar beiðnir. Smellt er á klára til að fylla út spurningalista.
    %tr
      %th{:colspan => 2}
        Fylla út spurningalista
    %tr 
      %td
        %div      
          %img{:src => "/assets/help/take-survey.png"}
      %td
        


