:coffee
  $('document').ready () ->
    helpContent = $("#help-content").carousel()
    helpContent.carousel('pause')
    helpContent.on("slid",()-> 
      helpContent.carousel('pause')
      )
    window.help = helpContent



=content_for :body_class, "help"

%div{:id => "help-content", :class => "carousel slide"}

  %ol.carousel-indicators
    %li{:data => {:target=>"#help-content", :slide_to =>"0"}} 
    %li{:data => {:target=>"#help-content", :slide_to =>"1"}}
    %li{:data => {:target=>"#help-content", :slide_to =>"2"}}
  
  .carousel-inner
    .item.active
      %h1 1
    .item
      %h1 2
    .item
      %h1 3