.row-fluid{ :class => 'features'}
  .span4
    %h3{ :class => 'title'}
      %i{:class => 'fc-icon-papers icon-3x'}
      Dream it!
    %h4{ :class => 'sub-title'}
      Aliquet amet nascetur
    %p
      Aliquet amet nascetur in pulvinar in aenean, nascetur nisi sit sed tincidunt, urna, amet lectus dis? Scelerisque ridiculus mattis magna in, sociis in est adipiscing placerat ut in aliquam ac.

  .span4
    %h3{ :class => 'title'}
      %i{ :class => 'fc-icon-employee-evaluation icon-3x'}
      Dream it!
    %h4{ :class => 'sub-title'}
      Aliquet amet nascetur
    %p
      Aliquet amet nascetur in pulvinar in aenean, nascetur nisi sit sed tincidunt, urna, amet lectus dis? Scelerisque ridiculus mattis magna in, sociis in est adipiscing placerat ut in aliquam ac.

  .span4
    %h3{ :class => 'title'}
      %i{ :class => 'fc-icon-needs-assesment icon-3x'}
      Dream it!
    %h4{ :class => 'sub-title'}
      Aliquet amet nascetur
    %p
      Aliquet amet nascetur in pulvinar in aenean, nascetur nisi sit sed tincidunt, urna, amet lectus dis? Scelerisque ridiculus mattis magna in, sociis in est adipiscing placerat ut in aliquam ac.
