.row-fluid{ :class => 'features'}
  .span4
    %i{:class => 'c-icon crossroad'}
    %h3{ :class => 'title'}
      Dream it!
    %h4{ :class => 'sub-title'}
      Aliquet amet nascetur
    %p
      Aliquet amet nascetur in pulvinar in aenean, nascetur nisi sit sed tincidunt, urna, amet lectus dis? Scelerisque ridiculus mattis magna in, sociis in est adipiscing placerat ut in aliquam ac.

  .span4
    %i{ :class => 'c-icon lightning'}
    %h3{ :class => 'title'}
      Dream it!
    %h4{ :class => 'sub-title'}
      Aliquet amet nascetur
    %p
      Aliquet amet nascetur in pulvinar in aenean, nascetur nisi sit sed tincidunt, urna, amet lectus dis? Scelerisque ridiculus mattis magna in, sociis in est adipiscing placerat ut in aliquam ac.

  .span4
    %i{ :class => 'c-icon charts'}
    %h3{ :class => 'title'}
      Dream it!
    %h4{ :class => 'sub-title'}
      Aliquet amet nascetur
    %p
      Aliquet amet nascetur in pulvinar in aenean, nascetur nisi sit sed tincidunt, urna, amet lectus dis? Scelerisque ridiculus mattis magna in, sociis in est adipiscing placerat ut in aliquam ac.

.row-fluid{ :class => 'features'}
  .span4
    %i{:class => 'c-icon crossroad'}
    %h3{ :class => 'title'}
      Dream it!
    %h4{ :class => 'sub-title'}
      Aliquet amet nascetur
    %p
      Aliquet amet nascetur in pulvinar in aenean, nascetur nisi sit sed tincidunt, urna, amet lectus dis? Scelerisque ridiculus mattis magna in, sociis in est adipiscing placerat ut in aliquam ac.

  .span4
    %i{ :class => 'c-icon lightning'}
    %h3{ :class => 'title'}
      Dream it!
    %h4{ :class => 'sub-title'}
      Aliquet amet nascetur
    %p
      Aliquet amet nascetur in pulvinar in aenean, nascetur nisi sit sed tincidunt, urna, amet lectus dis? Scelerisque ridiculus mattis magna in, sociis in est adipiscing placerat ut in aliquam ac.

  .span4
    %i{ :class => 'c-icon charts'}
    %h3{ :class => 'title'}
      Dream it!
    %h4{ :class => 'sub-title'}
      Aliquet amet nascetur
    %p
      Aliquet amet nascetur in pulvinar in aenean, nascetur nisi sit sed tincidunt, urna, amet lectus dis? Scelerisque ridiculus mattis magna in, sociis in est adipiscing placerat ut in aliquam ac.
