.row-fluid{ :class => 'features'}
  .span3
    %i{:class => 'fc-icon-papers fc-icon-2x'}
    %h3{ :class => 'title'}
      Dream it!
    %h4{ :class => 'sub-title'}
      Aliquet amet nascetur
    %p
      Snarpur er nýsköpunarverkefni þar sem unnið er að þróun hugbúnaðar sem auðveldar söfnun og úrvinnslu gagna í klínísku starfi sérfræðinga sem taka sér skjólstæðinga til meðferðar s.s. lækna, sálfræðinga og félagsráðgjafa. 

  .span3{ :class => 'offset1'}
    %span{ :class => 'fc-icon-employee-evaluation fc-icon-2x'}
    %h3{ :class => 'title'}
      Dream it!
    %h4{ :class => 'sub-title'}
      Aliquet amet nascetur
    %p
      Aliquet amet nascetur in pulvinar in aenean, nascetur nisi sit sed tincidunt, urna, amet lectus dis? Scelerisque ridiculus mattis magna in, sociis in est adipiscing placerat ut in aliquam ac.

  .span3{ :class => 'offset1'}
    %span{ :class => 'fc-icon-needs-assesment fc-icon-2x'}
    %h3{ :class => 'title'}
      Dream it!
    %h4{ :class => 'sub-title'}
      Aliquet amet nascetur
    %p
      Aliquet amet nascetur in pulvinar in aenean, nascetur nisi sit sed tincidunt, urna, amet lectus dis? Scelerisque ridiculus mattis magna in, sociis in est adipiscing placerat ut in aliquam ac.
