%tr{:class => item.item_type}
  %td= t("surveys.#{item.access_code}.name")
  %td=l item.created_at, :format => :short
  %td=deadline_or_completed_date(item)
  %td=link_to t('actions.finish'),  pre_registration_path(item)