@import partials/base


#help-content
  overflow: auto
  ol li
    border: solid 1px
  .carousel-inner
    width: 100%
    min-height: 450px
    border: solid red 1px
    .item
      width: 90%
      min-height: 450px
      background-color: cyan 


// #help
//   position: absolute
//   left: $blueprint_container_size + 60px
//   top: 75px
//   padding-left: 2.5em
//   a
//     display: block
//     text-decoration: none
//     font-size: .9em
//     color: #284187
//   a:before
//     content: "\E705"
//     font-family: Entypo 
//     font-size: 4em
//     float: left
//     margin-right: 3px
//     line-height: .2em
// body.help
//   p
//     margin-bottom: .5em
//   img
//     border: solid 1px

//   th
//     font-size: 1.1em
//     border: solid 1px
//     border-width: 1px 0 0 0
//     color: #333
//     padding: .4em 
//     margin-top: 1em
//   td
//     color: #333
  
//   td div
//     padding: .5em
//   em
//     font-weight: .8em
//     font-style: italic
//   .help-intro
//     margin-top: 4em
//     padding: 1em
//     +border-radius
//     border: solid #d2d2d2 1px
//     +box-shadow(1px 1px 3px 0 rgba(0,0,0,.15))
//     background-color: #fff
//   #content > div
//     font-size: 1.1em
//     margin-bottom: 1.7em
//     color: #333 
//   #content > div  ul
//     padding: .4em 0 .4em .9em
//     li
//       list-style-type: disc
//       list-style-position: inside
//       padding: .3em
//       li
//         list-style-type: circle
//         font-size: .9em
