span.icon-big-logout
  background-image: image-url("2013/sprites-icons.png")
  background-position: 0 -50px
  height: 28px
  width: 28px

span.icon-big-user
  background-image: image-url("2013/sprites-icons.png")
  background-position: 0 0
  height: 28px
  width: 28px

span.icon-big-prev
  background-image: image-url("2013/sprites-icons.png")
  background-position: 0 -2950px
  height: 28px
  width: 28px

span.icon-big-next
  background-image: image-url("2013/sprites-icons.png")
  background-position: 0 -2900px
  height: 28px
  width: 28px



span.icon-edit
  background-image: image-url("2013/sprites-icons.png")
  background-position: 0 -2000px
  height: 18px
  width: 18px

span.icon-user
  background-image: image-url("2013/sprites-icons.png")
  background-position: 0 -650px
  height: 18px
  width: 18px

span.icon-user-add
  background-image: image-url("2013/sprites-icons.png")
  background-position: 0 -600px
  height: 18px
  width: 24px
  vertical-align: top

span.icon-information
  background-image: image-url("2013/sprites-icons.png")
  background-position: 0 -700px
  height: 18px
  width: 18px

span.icon-settings
  background-image: image-url("2013/sprites-icons.png")
  background-position: 0 -750px
  height: 18px
  width: 18px

span.icon-meter
  background-image: image-url("2013/sprites-icons.png")
  background-position: 0 -800px
  height: 18px
  width: 18px

span.icon-history
  background-image: image-url("2013/sprites-icons.png")
  background-position: 0 -850px
  height: 18px
  width: 18px

span.icon-profile
  background-image: image-url("2013/sprites-icons.png")
  background-position: 0 -900px
  height: 18px
  width: 18px


span.icon-tiny-add
  background-image: image-url("2013/sprites-icons.png")
  background-position: 0 -1950px
  height: 15px
  width: 15px
