header
  .logo
    @include replace-text("2013/logo.png", 0, 50%)
    width: 150px

body.full-width
  #navigation
    display: none
  .sidebar-toggle-box
    display: none
  .nav li a
    color: #667fa0
  .nav > li > a:hover
    background-color: #EEE
    color: #2A3542
  .nav > li.active > a
    background-color: white
    color: #2A3542
    
#content-header
  display: inline-block
  margin-top: 60px
  padding: 15px
  width: 100%
  &:empty
    margin-top: 10px

.wrapper
  margin-top: 0

.alert-login-as
  padding-top: 100px
  padding-right: 15px
  padding-left: 15px

.site-footer
  background: #5B6E84
  bottom: 0
  color: #FFFFFF
  padding: 10px 0
  position: fixed
  width: 100%

p.default-buttons
  text-align: right

ul.summary-list > li
  width: 33%

.alt.blue-bg
  background: #7087A3
  color: white

.form-control
  color: #555555

.options > div
  &:first-child .destroy
    display: none
  &:first-child .input-group
    display: block

.thin
  width: 7%

.help-text-block
  color: #737373
  display: block
  margin-bottom: 10px
  margin-top: 5px

.nano
  height: 358px
  overflow: auto

#settings-content
  margin-top: 15px

.ui-sortable > li
  background: none repeat scroll 0 0 #DFF0D8
  .btn-danger
    margin-right: 6px

.profile-nav .user-heading      
  padding: 0px
  h1
    font-size: 15px
    font-weight: normal

.subject
  background: none repeat scroll 0 0 #FF766C
  border-radius: 0 4px 4px 0
  
.state-overview
  .subject-navigation
    width: 79% !important
    background-color: #FFFFFF
    height: 99px
  .subject-details
    padding: 0 !important
    width: 20% !important

  .user-heading.alt a 
    margin: 14px 5px
    min-height: 70px
    min-width: 70px
    img
      height: 60px
      width: 60px
      

.user-heading.alt a 
  margin: 14px 5px
  img
    height: 60px
    width: 60px

.white
  color: white

.vis.timeline .overdue
  background-color: #EE0000
  border-color: #EE0000

.vis.timeline .completed
  background-color: #00AA00
  border-color: #00AA00

.vis.timeline .pending
  background-color: #FF9900
  border-color: #FF9900

p.default-buttons
  margin: 0 15px 25px 0