// @import url(http://fonts.googleapis.com/css?family=Oxygen:400,300)
// @import url(http://fonts.googleapis.com/css?family=Gudea:400,700,400italic)
// @import url(http://fonts.googleapis.com/css?family=Monda:400,700)
// font-family: 'Oxygen', sans-serif
// font-family: 'Gudea', sans-serif
// font-family: 'Monda', sans-serif
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400)
$fl_terqes: rgb(108, 202, 201)
$fl_terqesdark: rgb(1, 168, 158)
$fl_darkblue: #797979
$fl_red: rgb(255, 118, 108)
$fl_yellow: rgb(248, 211, 71)
$fl_green: rgb(169, 217, 108)
$fl_blue: rgb(88, 201, 243)
header
  .logo
    font-family: 'Alegreya Sans SC', sans-serif
    margin: 0
    width: 150px
    font-size: 2em
    font-weight: 300

  a::first-letter
    color: $fl_red
    font-size: 1.5em
    font-weight: 700

body.full-width
  #navigation
    display: none
  .sidebar-toggle-box
    display: none
  .nav li a
    color: #667fa0
  .nav > li > a:hover
    background-color: #EEE
    color: #2A3542
  .nav > li.active > a
    background-color: white
    color: #2A3542
    
#content-header
  display: inline-block
  margin-top: 60px
  padding: 15px
  width: 100%
  &:empty
    margin-top: 10px

.wrapper
  margin-top: 0

.alert-login-as
  padding-top: 100px
  padding-right: 15px
  padding-left: 15px

.site-footer
  background: #5B6E84
  bottom: 0
  color: #FFFFFF
  padding: 10px 0
  position: fixed
  width: 100%

p.default-buttons
  text-align: right

ul.summary-list > li
  width: 33%

.alt.blue-bg
  background: #7087A3
  color: white

.form-control
  color: #555555

.options > div
  &:first-child .destroy
    display: none
  &:first-child .input-group
    display: block

.thin
  width: 7%

.help-text-block
  color: #737373
  display: block
  margin-bottom: 10px
  margin-top: 5px

.nano
  height: 358px
  overflow: auto

#settings-content
  margin-top: 15px

.ui-sortable > li
  background: none repeat scroll 0 0 #DFF0D8
  .btn-danger
    margin-right: 6px

#content-header .profile-nav .user-heading      
  padding: 0px
  h1
    font-size: 15px
    font-weight: normal

.subject
  background: none repeat scroll 0 0 #FF766C
  border-radius: 0 4px 4px 0
  
.state-overview
  .subject-navigation
    width: 79% !important
    background-color: #FFFFFF
    height: 99px
  .subject-details
    padding: 0 !important
    width: 20% !important

  .user-heading.alt a 
    margin: 14px 5px
    min-height: 70px
    min-width: 70px
    img
      height: 60px
      width: 60px
      

.user-heading.alt a 
  margin: 14px 5px
  img
    height: 60px
    width: 60px

.white
  color: white



p.default-buttons
  margin: 0 15px 25px 0




// Panel extensions -----------------
.panel-footer-white
  background-color: #ffffff

// List extensions  -----------------
ul.summary-list
  &.text-left li
    text-align: left
  &.text-right li
    text-align: right
ul.list-align-top li
  vertical-align: top