= f.input :sex, :collection => [[t('terms.father'),'male'],[t('terms.mother'),'female']],  :as => :radio
/[[t('terms.father'),'male'],[t('terms.mother'),'female']],
= f.input :firstname
= f.input :lastname


