- if params[:controller] == 'people'
  %ul.patient-nav.sub
    %li{:class => params[:action] == 'show' ? 'selected' : ''}
      %a{:alt => "Mælingar", :href => '/people/' + @person.id.to_s}
        %span.c-icon.timeline
          &#128255;
        Mælingar
    %li{:class => params[:action] == 'history' ? 'selected' : ''}
      %a{:alt => "Sjúkraskrá", :href => '/people/' + @person.id.to_s + '/history'} 
        %span.c-icon.history
          &#128203;
        Saga

    %li{:class => params[:action] == 'information' ? 'selected' : ''}
      %a{:alt => "Fjölskylda", :href => '/people/' + @person.id.to_s + '/information'} 
        %span.c-icon.information
          &#128101;
        Fjölskylda
