- if params[:controller] == 'people'
  %ul{:class => 'reset subnav'}
    %li{:class => params[:action] == 'show' ? 'active' : ''}
      %a{:alt => "Mælingar", :href => '/people/' + @person.id.to_s, :class => 'button second'}
        %span{:class => 'icon-meter'}
        Mælingar
    %li{:class => params[:action] == 'history' ? 'active' : ''}
      %a{:alt => "Sjúkraskrá", :href =>  "/#people/#{@person.id.to_s}/entries", :class => 'button second'}
        %span{:class => 'icon-history'}
        Saga

    %li{:class => params[:action] == 'edit' ? 'active' : ''}
      %a{:alt => "Fjölskylda", :href => '/people/' + @person.id.to_s + '/edit', :class => 'button second'}
        %span{:class => 'icon-profile'}
        Persónu upplýsingar

