%ul.nav
  %li.home
    %a{:class => 'c-icon', :href => "/users"} &#8962;

  - if params[:controller] == 'people'
    %li{:class => params[:action] == 'show' ? 'selected' : ''}
      %a{:class => 'c-icon timeline', :href => '/people/' + @person.id.to_s} &#57349;
    %li{:class => params[:action] == 'history' ? 'selected' : ''}
      %a{:class => 'c-icon history', :href => '/people/' + @person.id.to_s + '/history'} &#128340;
    %li{:class => params[:action] == 'information' ? 'selected' : ''}
      %a{:class => 'c-icon information', :href => '/people/' + @person.id.to_s + '/information'} &#59141;