.nested-item  
  .field.inp-txt
    =f.label :street_1, t('address.street_1')
    %span
      =f.text_field :street_1
    %span     
      =f.text_field :street_2
  .field.inp-txt
    =f.label :zip_code, t('address.zip_code')
    %span
      =f.text_field :zip_code
  .field.inp-txt
    =f.label :town, t('address.town')
    %span
      =f.text_field :town

  .field.inp-txt
    =f.label :phone, t('address.home_phone')
    %span
      =f.text_field :phone