-opposite_parent_address = @opposite_parent.address
-f = locals[:form_builder]
.nested-item
  =f.hidden_field :address_id, :value => opposite_parent_address.id ,:disabled => true
  .field.inp-txt
    %label= t('address.street_1')
    %span
      =text_field_tag 'street_2', opposite_parent_address.street_1, :disabled => true
    %span
      =text_field_tag 'street_2', opposite_parent_address.street_2, :disabled => true
  .field.inp-txt
    %label= t('address.zip_code')
    %span
      =text_field_tag 'address', opposite_parent_address.zip_code, :disabled => true
  .field.inp-txt
    %label= t('address.town')
    %span
      =text_field_tag 'address', opposite_parent_address.town, :disabled => true
  .field.inp-txt
    %label= t('address.home_phone')
    %span
      =text_field_tag 'phone', opposite_parent_address.home_phone, :disabled => true