
//
// mixin for bullet proof font declaration syntax
// http://pivotallabs.com/bulletproof-font-face-syntax-with-sass/
@mixin declare-font-face($font-family, $font-filename, $font-weight : normal, $font-style :normal, $font-stretch : normal) {
@font-face {
font-family: '#{$font-family}';
src: url(font-path('#{$font-filename}.eot'));
src: url(font-path('#{$font-filename}.eot?#iefix')) format('embedded-opentype'),
url(font-path('#{$font-filename}.woff')) format('woff'),
url(font-path('#{$font-filename}.ttf')) format('truetype'),
url(font-path('#{$font-filename}.svg##{$font-family}')) format('svg');
font-weight: $font-weight;
font-style: $font-style;
font-stretch: $font-stretch;
}
}


.fc-icon-border {
  border: solid 1px #eeeeee;
  padding: .2em .25em .15em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.fc-icon-2x {
  font-size: 2em;
}

.fc-icon-shadow {
  text-shadow: -1px 1px 1px rgba(255, 255, 255, 0.4);
}

.fc-icon-2x.icon-border {
  border-width: 2px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.fc-icon-3x {
  font-size: 3em;
}

.fc-icon-3x.icon-border {
  border-width: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.fc-icon-4x {
  font-size: 4em;
}

.fc-icon-4x.icon-border {
  border-width: 4px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.fc-icon-5x {
  font-size: 5em;
}

.fc-icon-8x {
  font-size: 8em;
}

.fc-icon-5x.icon-border {
  border-width: 5px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

.fc-icon-muted {
  color: #eeeeee;
}
.fc-icon-light {
  color: #ffffff;
}
.fc-icon-dark {
  color: #333333;
}

.fc-icon-circled {
  background-color: #fafafa;
  padding: .3em .4em .25em;
}

@-moz-document url-prefix() {
  i.fc-icon {
    font-weight: normal;
  }
}
