/* 
 * Font Custom: bare CSS
 */


.fc-icon-chart-documents:before,
.fc-icon-dialog:before,
.fc-icon-employee-evaluation:before,
.fc-icon-exit:before,
.fc-icon-filled-circle:before,
.fc-icon-form-document:before,
.fc-icon-form:before,
.fc-icon-infographics:before,
.fc-icon-line-graph:before,
.fc-icon-locker:before,
.fc-icon-mail-box:before,
.fc-icon-multi-choice:before,
.fc-icon-needs-assesment:before,
.fc-icon-open-box:before,
.fc-icon-outlined-circle:before,
.fc-icon-papers:before,
.fc-icon-secure:before,
.fc-icon-single-choice:before,
.fc-icon-social-services:before,
.fc-icon-string:before,
.fc-icon-text:before,
.fc-icon-waiting-room:before,
.fc-icon-worker:before {
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

.fc-icon-chart-documents:before { content: "\f100"; }
.fc-icon-dialog:before { content: "\f101"; }
.fc-icon-employee-evaluation:before { content: "\f102"; }
.fc-icon-exit:before { content: "\f103"; }
.fc-icon-filled-circle:before { content: "\f104"; }
.fc-icon-form-document:before { content: "\f105"; }
.fc-icon-form:before { content: "\f106"; }
.fc-icon-infographics:before { content: "\f107"; }
.fc-icon-line-graph:before { content: "\f108"; }
.fc-icon-locker:before { content: "\f109"; }
.fc-icon-mail-box:before { content: "\f10a"; }
.fc-icon-multi-choice:before { content: "\f10b"; }
.fc-icon-needs-assesment:before { content: "\f10c"; }
.fc-icon-open-box:before { content: "\f10d"; }
.fc-icon-outlined-circle:before { content: "\f10e"; }
.fc-icon-papers:before { content: "\f10f"; }
.fc-icon-secure:before { content: "\f110"; }
.fc-icon-single-choice:before { content: "\f111"; }
.fc-icon-social-services:before { content: "\f112"; }
.fc-icon-string:before { content: "\f113"; }
.fc-icon-text:before { content: "\f114"; }
.fc-icon-waiting-room:before { content: "\f115"; }
.fc-icon-worker:before { content: "\f116"; }
