$fb-label-width: 100px
$fb-inp-string-width: 300px
$fb-width: ($fb-label-width + $fb-inp-string-width) * 1.05
.form-base
	width: $fb-width
	.form-section
		margin-bottom: .4em
		h2
			margin-bottom: .5em
			
	+clearfix
	abbr
		display: none
	label
		text-transform: capitalize
		color: #555
	div.input
		position: relative
		margin-bottom: .9em
		padding-left: $fb-label-width
		padding: .7em 0 .7em $fb-label-width
		background-color: rgba(0,0,0,.025)
		border: 1px solid rgba(0,0,0,.1)
		+border-radius(3px)
		label:nth-child(1)
			position: absolute
			width: $fb-label-width
			font-size: 1em
			top: .8em
			left: 5px
			&.radio
				top: 0
	div.input.string input
		width: $fb-inp-string-width
		border: #888 solid 1px
		background-color: #fefefe
		+box-shadow(1px 1px 1px rgba(0, 0, 0, 0.15) inset)
		+border-radius(2px) 

	button, .button
		float: right

.form-base.col-2
	width: ($fb-width*2) + 20px
	margin: 0 auto
	overflow: visible
	.form-section
		width: $fb-width
		float: left
		margin-bottom: 1em
		&:nth-child(odd)
			float: left
		&:nth-child(even)
			float: right
		
		
			
.form-base.registration
	margin: 10px auto



.form-base div.input.field_with_errors
	background-color: rgba(255,0,0,.2)
	.error
		display: block
		padding: .6em 0 .2em
		text-align: left
		text-shadow: 0 1px 0 rgba(255,255,255,.65)
		color: #444
		font-weight: bold
	label.required:after
		content: "\26A0"
		position: absolute
		left: 0.4em
		top: 0.3em
		font-size: 2.5em
		+text-shadow(1px 1px 0 #f9f9f9)
					

// ======= OLD =========
.family-registration
	+clearfix
	h3
		color: $china2
		background-color: $china5
		padding: 5px
	p
		margin: 0

fieldset h2
	font-size: 1.3em
	font-weight: bold
	display: block
	border-bottom: 1px solid $grey_lightest

.frm-section-hrz
	float: left
	margin-right: 6px
	h4
		padding: 2px 5px
		color: $blue_dark
		background-color: $grey_lightest
		border-right: 5px solid white

.frm-section
	position: relative
	padding: 0 0 0.6em 0
	margin-bottom: 0.4em
	background-color: $china5
	&:last-child
		margin-bottom: 0
	h4,i
		color: $china2
		margin-bottom: -1em
	h4
		padding: 2px 5px
	i
		position: absolute
		top: 1.5em
		left: 5px
		font-size: 0.8em

.field
	label
		color: #666666
	&.disabled label
		color: $grey

.field
	.inp-txt, .inp-rdo, .inp-sel, .inp-aux
	+prepend(5)
	padding-top: 2px
	padding-bottom: 3px
	margin-bottom: 2px
	+clearfix

.field.inp-txt, .field.inp-sel
	label
		+column(3)

.field.inp-txt
	.field.inp-txt
		+prepend(3)
	.field
		margin-left: 0
	span

.inp-rdo
	label
		float: none
	span
		display: block
	input
		margin: 0

.inp-txt
	position: relative
	span:nth-child(3n+0)
		+prepend(3)
		display: block
		margin-top: 2px
	input
		+span(6)
		border: solid 1px $grey
		padding: 4px
		font-size: 1em
		color: #333333

.inp-btn
	padding: 4px
	border: $grey_light solid
	border-width: 1px 0
	ul
		+horizontal-list
		padding: 1px 0
		float: right

input[type='submit']
	border-width: 0

//------ Fields in dialog
.ui-dialog-titlebar
	display: none

#dialog
	.field.inp-txt, .field.inp-rdo, .field.inp-sel
		+prepend(1)
	.frm-section
		h4
			margin-bottom: 1em
