@import partials/base
.form-base
  .hidden
    display: none
  .floating-right
    float: right
    width: 320px
    & > .control-label
      border-bottom: 0 !important
      background-image: none !important
    .controls
      margin-left: 0
  .wizard-fields
    +background-image(linear-gradient(bottom,rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 2px),linear-gradient(bottom,rgba(0,0,0,.3) 0%, rgba(0,0,0,0) 2px))
    background-position: 0 100%, 0 0%
    background-size: 100% 1px
    background-repeat: no-repeat
    border-bottom: 1px solid rgba(255, 255, 255, 0.55)
    border-bottom: 1px solid rgba(255, 255, 255, 0.55)
    padding: 1em 0
  h2
    color: lighten($china2,10%)
    +background-image(linear-gradient(bottom,rgba(0,0,0,.13) 0%, rgba(0,0,0,0) 2px))
  .type-nestedmodel
    & > .control-label
      color: lighten($china2,10%)
      +background-image(linear-gradient(bottom,rgba(0,0,0,.13) 0%, rgba(0,0,0,0) 2px))
      padding: .5em 0
      margin: .1em 0 .6em
      font-size: 1.4em
      border-bottom: 1px solid rgba(255, 255, 255, 0.55)
      display: block
      text-align: left
      width: auto
    & > .controls
      margin-left: 0
    & > label
      float: none 
  button
    float: right
    margin-top: .7em
  .type-hidden
    display: none
  .type-checkbox .controls label,
  .type-radio .controls label
    color: #333
    margin-bottom: 0px
    font-size: 1em
  .type-radio li
    position: relative
    margin: .5em 0 .5em 0
    label
      position: absolute
      top: 0
      left: 1.5em
  input[type='checkbox'],
  input[type='radio']
    margin-top: 2px

  .help-block
    margin: .5em

  .nested-fields
    margin-top: 30px

.editable-items
  +clearfix
  .editable-item
    float: left
.editable-item
  position: relative
  padding-top: 20px
  span.edit-item
    top: 0
    left: 0
    
