h1,h2,h3,h4,h5,h6
	margin-bottom: .4em
	&.china-3
		display: relative
		+sn-heading($color: $china3, $size: 1.4, $brightness: .5)
	&.china-4
		display: relative
		+sn-heading($color: $china4, $size: 1.4, $brightness: .5)
	&.china-2
		display: relative
		+sn-heading($color: $china2, $size: 1.4, $brightness: .5)

