@import partials/base

.patient-search
	position: relative
	margin: 2em auto 3em auto
	h1
		font-size: 2em
		margin-bottom: 1em
		color: #444
	& .add-user
		position: absolute
		bottom: .5em
		right: .5em
.patient-search 
	& > div
		padding: 0 14em
		+box-sizing(border-box)
	input
		width: 100%
		font-size: 1.5em
		padding: .2em 0 .2em .5em
		border: 1px solid #c5c5c5
		color: #555
		+border-radius
		+box-shadow(1px 1px 3px 0 rgba(0, 0, 0, 0.2) inset)
	form
		position: relative
	form:after
		content: "\26B2"
		position: absolute
		top: .12em
		right: 0
		font-size: 2.1em 
		color: #777
		+rotate(30deg)



.caretaker-view .registration .form-base 
	margin-top: 3em

table.overview
	width: 800px
	margin: 0 auto
	font-size: 1.3em
	th
		padding: 1em
		font-weight: bold
		color: #777
	th:nth-child(2), th:nth-child(3)
		text-align: center
		font-size: .6em
	tbody
		tr:nth-child(odd)
			background-color: #fefefe
		tr:nth-child(odd):hover
			background-color: #f1f1f1
		tr:nth-child(even)
			background-color: $china5
		tr:nth-child(even):hover
			background-color: lighter($china5, 20%)
		tr td:first-child
		td
			padding: .5em
			color: #999
			a
				text-decoration: none
				color: #444
		td.overdue,
		td.uncompleted
			text-align: center
			width: 70px
			span
				margin: 0 auto
				display: block
				width: 1.2em
				height: 1.2em
				line-height: 1.2em
				font-size: .8em
				color: #111
				+text-shadow(1px 1px 1px #fff)
				+border-radius(.8em)
		td.overdue span
			background-color: rgba(255,0,0,.4)
		td.uncompleted span
			background-color: rgba(255,255,0,.4)

	
	
	
	
	
			
		 	