@import partials/base

.caretaker-view .registration .form-base 
	margin-top: 3em

table.overview
	width: 800px
	margin: 0 auto
	font-size: 1.3em
	th
		padding: 1em
		font-weight: bold
	th:nth-child(2), th:nth-child(3)
		text-align: center
		font-size: .6em
	tbody
		tr:nth-child(odd)
			background-color: #f9f9f9
		tr:nth-child(even)
			background-color: rgb(230,240,250)
		tr td:first-child
		td
			padding: .5em
			color: #999
			a
				text-decoration: none
				color: #777
			a:hover
				color: #111
		td.overdue,
		td.uncompleted
			text-align: center
			width: 70px
			span
				margin: 0 auto
				display: block
				width: 1.2em
				height: 1.2em
				line-height: 1.2em
				font-size: .8em
				color: #111
				+text-shadow(1px 1px 1px #fff)
				+border-radius(.8em)
		td.overdue span
			background-color: rgba(255,0,0,.4)
		td.uncompleted span
			background-color: rgba(255,255,0,.4)
	
	
	
	
	
			
		 	