@import partials/timeline/overlay.css.sass
@import partials/timeline/month-view-guides.css.sass
@import partials/timeline/line-headings.css.sass
@import partials/timeline/line.css.sass
@import partials/timeline/time-nav.css.sass

g.highcharts-axis
  fill: #000
#canvas
  position: relative
  +box-shadow(0 0 16px 1px rgba(0, 0, 0, 0.1),0 0 1px 0px rgba(0, 0, 0, 0.4))
  margin-bottom: 17px
 

#canvas #tml-body:after
  content: "."
  text-indent: -999px
  display: block
  +stretch
  z-index: -1
  +opacity(0.8)

#canvas.state-new-item #tml-body:after  
  z-index: 200
  color: #fff
  background-color: #fff
 
#tml-body
  position: relative
  overflow: hidden
  z-index: 0

#tml-history
  +transition-property(margin-left)
  +transition-duration(0.2s)
  +transition-timing-function(ease)
  +background-image(linear-gradient(left, rgba(201,232,249,.03) 50%,rgba(142,176,237,.11) 50%), linear-gradient(left, rgba(0,0,0,0.2) 2px, rgba(0,0,0,0) 2px))
  +background-size(140px,840px)
  background-position: 0,-2px




