<ul class="reset">
<li><em><%=I18n.t("views.responder_items.requests.sent") %>: <%= I18n.strftime(new Date(created_at),"%-d %B %Y")%></em></li>
<li><em><%= I18n.t("terms.due_date") %>: <%= I18n.strftime(new Date(deadline),"%-d %B %Y") %></em></li>
</ul>
