<div id="person">
    <div class="sidebar">
        <div class="avatar"></div>
        <div class="patient"></div>
    </div>
    <div class="content">
        <div class="parents"></div>
    </div>
</div>
