<div class="subject">
    <div class="avatar"></div>
    <div class="information"></div>
</div>
<hr class="fullbreak" />
<div class="pull-right">
    <a href="#" class="button prime"><span class="icon-add"></span>Skrá foreldra</a>
</div>
<div class="parents"></div>
</div>
