<div class="subject">
    <div class="avatar"></div>
    <div class="information"></div>
    <div class="upload modal hide" id="avatarUploadModal">
        <div class="modal-header"><h3>Hlaða upp mynd</h3></div>
        <div class="modal-body">
            <form accept-charset="UTF-8" class="edit_person" enctype="multipart/form-data" method="post" id="avatarUploadForm">
                <input name="utf8" type="hidden" value="✓">
                <input name="_method" type="hidden" value="put">
                <input name="authenticity_token" class="authenticity_token" type="hidden" value="RxdVqpKvQZR0JMbsrSalf/HOrj0dqnXPelRV+Rw1VCM=">
                <input id="person_avatar" name="person[avatar]" type="file">
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" class="btn" onclick="$('#avatarUploadModal').toggle();">Hætta við</a>
            <a href="#" class="btn btn-primary" onclick="document.forms.avatarUploadForm.submit();">Senda</a>
        </div>
    </div>
</div>
<hr class="fullbreak" />
<div class="pull-right">
    <a href="#" class="button prime"><span class="icon-add"></span>Skrá foreldra</a>
</div>
<div class="parents"></div>
</div>
