<thead>
  <tr>
    <th data-sortBy="numeric"><span class="c-icon sort"></span></th>
    <th data-sortBy="nosort"><%=_.capitalize(I18n.t("surveys."+surveyAccessCode+".terms."+questionGroupName)) %></th>
    <th data-sortby="numeric"><span class="c-icon sort"></span></th>
  </tr>
</thead>
<tbody>
</tbody>
