<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
  <%= I18n.t("terms.lists") %>
  <span class="caret"></span>
</button>
<a href="#" class="popover-target" data-placement="left" data-content="Veldu lista til að senda beiðni" data-title="Engar mælingar">&nbsp;</a>
<ul class="dropdown-menu pull-right"></ul>
