- f ||= locals[:form_builder]
%div{:class => "field inp-sel #{'disabled' if f.object.status == -1}"}
  =f.label :end, t('terms.guardianship_end')
  %span
    =f.date_select :end, :include_blank => true, :discard_day => true