-f = locals[:form_builder]
=render "people/basic_person_information", :f => f

- content_for :jstemplates do
  -address = @person.address.nil? ? @person.build_address : @person.address
  -address_options = {:partial => "addresses/address", :object => address}
  !="var address = '#{generate_template(f, :address, address_options)}'"
  -if @opposite_parent
    != "var existing_parent_address = '#{escape_javascript render 'addresses/existing_parent_address', :locals => {:form_builder => f}}'"


.contact_info.frm-section.toggle
  %h4= t('terms.contact_information')

  -address = @person.address.nil? ? @person.build_address : @person.address

  =f.fields_for :address, address do |address_form|
    #address
      =render "addresses/address", :f => address_form
  
  #existing_parent_address
  
  =render "people/phone_information", :f => f