-f ||= locals[:form_builder]
=f.object.inspect
= f.object.relation.inspect
.added-spouse.nested-item
  - spouse = f.object.relation.nil? ? f.object.build_relation : f.object.relation
  .spouseform
    = f.fields_for :relation, spouse do |spouse_form|
      .field.inp-txt
        =spouse_form.label :firstname, t('person.firstname')
        %span
          =spouse_form.text_field :firstname
      .field.inp-txt
        =spouse_form.label :lastname, t('person.lastname')
        %span
          =spouse_form.text_field :lastname
    =render "people/parents/relationship_status", :locals => {:form_builder => f}
    =render "people/parents/relationship_start", :locals => {:form_builder => f}
    =render "people/parents/relationship_end", :locals => {:form_builder => f}
