<span class="c-icon small close"></span>
<ul>
<li><span class="c-icon medium column-chart-icn"></span></li>
<li><span class="c-icon medium line-chart-icn"></span></li>
</ul>
<div class="chart-wrapper">
</div>