<span class="c-icon small close"></span>
<div class="left">
  <ul class="state-msg">
    <li class="m-idle"><em>Veldu dagsetningu til að senda beiðni</em></li>
    <li class="m-selected"></li>
    <li class="m-success"><em>Beiðni hefur verið send</em>Veldu dagsetningu til að senda aðra beiðni</li>
    <li class="m-error">Villa kom upp</li>
  </ul>
  <button class="button green large send">Senda</button>
  <button disabled="disabled" class="button disabled large send">Senda</button>

</div>
<div class="calendar right"></div>