<td><span><%= question %></span></td>
<td><%= I18n.t("surveys."+surveyAccessCode+"."+"questions")[question] %></td>
<td><span class="answer-signal"><%= I18n.t("surveys."+surveyAccessCode+"."+"answers")[answer] %></span></td>
<td><span><%= answer %></span></td>



