<thead>
  <tr>
    <th data-sort="int"><span class="c-icon sort"></span></th>
    <th colspan="2"><%=_.capitalize(I18n.t("surveys."+surveyAccessCode+".terms."+questionGroupName)) %></th>
    <th data-sort="int"><span class="c-icon sort"></span></th>
  </tr>
</thead>
<tbody>
</tbody>
