%p=t('devise.mailer.invitation_instructions.body.greeting', :name => @user.person.firstname)
%p
  =t('devise.mailer.invitation_instructions.body.text')
=link_to t('actions.sign_up'), accept_user_invitation_url(:invitation_token => @user.invitation_token)
%p
  =t('devise.mailer.invitation_instructions.body.regards')

