%table.foundation
	%thead
		%tr
			%th
				Notendanafn
			%th
				Innskráningar
			%th
				Síðasta innskráning
	%tbody
		-@users.each do |u|
			%tr
				%td
					=u.email
				%td
					=u.sign_in_count
				%td
					=u.last_sign_in_at