%table.foundation
	%thead
		%tr
			%th
				Notendanafn
			%th
				Innskráningar
			%th
				Síðasta innskráning
			%th
				Stofnað
	%tbody
		-@users.each do |u|
			%tr
				%td
					=u.email
				%td
					=u.sign_in_count
				%td
					= l u.last_sign_in_at, :format => :long unless u.last_sign_in_at.nil?
				%td
					=l u.created_at, :format => :long