=content_for :content_title, "Upplýsingar um skjólstæðing"
=content_for :subject_content do
  =render "shared/content_title"

- form_template = "invitation_items/subject_invitation/index"
:javascript
  $(document).ready(function(){
    window.controller = new App.Controllers.Forms.Multistep(#{render template: form_template  ,formats: [:json]});
    App.init(); 
  });