!!!
%html
  %head
    =yield(:head)
    =csrf_meta_tag

    %link{:href => 'http://fonts.googleapis.com/css?family=Asap:400,700,700italic,400italic', :rel => 'stylesheet', :type => 'text/css'}
    =stylesheet_link_tag "application"
    =javascript_include_tag "backbone_application"

    %script{:type => 'text/javascript'}
      ="I18n.defaultLocale = '#{I18n.default_locale}';"
      ="I18n.locale = '#{I18n.locale}';"


    %style{:type => 'text/css'}
      =yield(:style_header)
    =javascript_tag do
      = yield(:jstemplates)

    =yield :backbone_bootstrap
    
    %title
      Qodiag - Quality of diagnosis

  %body{:class => yield(:body_class)}
    #page{:class => 'container'}

      #header{:class => 'row'}
        %h1{:class => 'logo span2'}
          Qodiag
        %div{:class => 'span10'}
          =render 'shared/log_in_out'

      #navigation{:class => 'row'}
        %ul{:class => 'primary span6'}
          %li
            %a{:href => "/users"}
              %span{:class => 'icon-user'}
              Skjólstæðingar
        %ul{:class => 'secondary span6'}
          %li
            %a{:href => "/pages/help"}
              %span{:class => 'icon-information'}
              Upplýsingar
          %li
            %a{:href => "/#settings"}
              %span{:class => 'icon-settings'}
              Stillingar

      #wrapper
        #content-header
          =yield :subject_content

        #content
          =yield
          
    #footerwrap
      %span
        ="Qodiag #{Date.today.year}  |  Quality of Diagnosis"

    #flash
      -flash.each do |name, msg|
        %div{:class => name}
          =msg


    =render "shared/google_analytics"
