!!!
%html
  %head
    =yield(:head)
    =csrf_meta_tag

    %link{:href => 'http://fonts.googleapis.com/css?family=Asap:400,700,700italic,400italic', :rel => 'stylesheet', :type => 'text/css'}
    =stylesheet_link_tag "application"
    =javascript_include_tag "backbone_application"

    %script{:type => 'text/javascript'}
      ="I18n.defaultLocale = '#{I18n.default_locale}';"
      ="I18n.locale = '#{I18n.locale}';"


    %style{:type => 'text/css'}
      =yield(:style_header)
    =javascript_tag do
      = yield(:jstemplates)

    =yield :backbone_bootstrap
    
    %title
      Qodiag - Quality of diagnosis

  %body{:class => yield(:body_class)}
    #page{:class => 'container'}

      #header
        %h1{:class => 'logo'}
          Qodiag
        %div{:class => 'usernav'}
          =render 'shared/log_in_out'

      #navigation
        =render 'shared/site_navigation'


      #wrapper
        #content-header
          =yield :subject_content

        #content
          =yield

      #flash
        -flash.each do |name, msg|
          %div{:class => name}
            =msg

    #footerwrap
      %span
        ="Qodiag #{Date.today.year}  |  Quality of Diagnosis"


    =render "shared/google_analytics"
