!!!
%html
  %head
    =yield(:head)
    =csrf_meta_tag

    %link{:href => "/assets/favicon.ico", :rel => "shortcut icon"}
    %link{:href => 'http://fonts.googleapis.com/css?family=Asap:400,700,700italic,400italic', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href=>'http://fonts.googleapis.com/css?family=Lato:400,700,900,300', :rel=>'stylesheet', :type=>'text/css'}
    %link{:href=>'http://fonts.googleapis.com/css?family=Dosis:400,500,600', :rel=>'stylesheet', :type=>'text/css'}
    =stylesheet_link_tag "login"
    =javascript_include_tag "login_application"

    %script{:type => 'text/javascript'}
      ="I18n.defaultLocale = '#{I18n.default_locale}';"
      ="I18n.locale = '#{I18n.locale}';"


    %style{:type => 'text/css'}
      =yield(:style_header)
    =javascript_tag do
      = yield(:jstemplates)

    %title
      Qodiag - Quality of diagnosis

  %body{:class => yield(:body_class)}
    
    #page
      = yield(:landing_page_header)
      #content
        #flash
          -flash.each do |name, msg|
            %div{:class => name}
              =msg
        .container
          =yield
      .push
    %footer#footer
      =render "pages/landing_page/footer"

    =render "shared/google_analytics"