!!!
%html
  %head
    =yield(:head)
    =csrf_meta_tag

    %link{:href => 'http://fonts.googleapis.com/css?family=Asap:400,700,700italic,400italic', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href=>'http://fonts.googleapis.com/css?family=Lato:300,400,700,900', :rel=>'stylesheet', :type=>'text/css'}
    / %link{:href=>'http://fonts.googleapis.com/css?family=Abel', :rel=>'stylesheet', :type=>'text/css'}
    %link{:href=>'http://fonts.googleapis.com/css?family=Dosis:400,500,600', :rel=>'stylesheet', :type=>'text/css'}
    =stylesheet_link_tag "login"
    =javascript_include_tag "login_application"

    %script{:type => 'text/javascript'}
      ="I18n.defaultLocale = '#{I18n.default_locale}';"
      ="I18n.locale = '#{I18n.locale}';"


    %style{:type => 'text/css'}
      =yield(:style_header)
    =javascript_tag do
      = yield(:jstemplates)

    %title
      Qodiag - Quality of diagnosis

  %body{:class => yield(:body_class)}
    
    #page
      - if not request.env['PATH_INFO'].include?"users/sign_in" and not request.env['PATH_INFO'].include?"inv"
        =render "pages/landing_page/header"  
     
      - if request.env['PATH_INFO'].include?"users/sign_in" or request.env['PATH_INFO'].include?"invitation"
        =render "pages/landing_page/apply_sign_in"
      - else
        =render "pages/landing_page/apply" 

      #content
        #flash
          -flash.each do |name, msg|
            %div{:class => name}
              =msg
        .container
          =yield
      .push
    %footer#footer
      =render "pages/landing_page/footer"

    =render "shared/google_analytics"