!!!
%html
  %head
    =yield(:head)
    =csrf_meta_tag

    %link{:href => 'http://fonts.googleapis.com/css?family=Asap:400,700,700italic,400italic', :rel => 'stylesheet', :type => 'text/css'}
    =stylesheet_link_tag "login"
    =javascript_include_tag "login_application"

    %script{:type => 'text/javascript'}
      ="I18n.defaultLocale = '#{I18n.default_locale}';"
      ="I18n.locale = '#{I18n.locale}';"


    %style{:type => 'text/css'}
      =yield(:style_header)
    =javascript_tag do
      = yield(:jstemplates)

    //=yield :backbone_bootstrap

    %title
      Qodiag - Quality of diagnosis

  %body{:class => yield(:body_class)}
    
    #page

      #header{:class => 'lights'}
        .container
          .row-fluid
            .span6
              %h1{:class => 'page-title'} 
                =link_to image_tag( '/assets/2013/logo-big.png', :class => 'logo', :alt => 'Qodiag'), root_path()
              %h3{:class => 'page-slogan'}
                Velkomin á vinnusvæði Qodiag !
            .span6
              %img{:src => '/assets/login/computer_large.png', :alt => 'Qodiag'}  

      #apply
        - if not request.env['PATH_INFO'].include?"users/sign_in"
          =render "pages/landing_page/apply" 

      #content
        .container
          #flash
            -flash.each do |name, msg|
              %div{:class => name}
                =msg
          =yield
    
    #footerwrap
      .container
        =render "pages/landing_page/footer"

    =render "shared/google_analytics"