!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      Survey: #{controller.action_name}
    = surveyor_assets
    / = jqplot_includes
    / = snarpur_javascripts
    / = javascript_include_tag 'main'
    / :javascript
    /   $.jqplot.config.enablePlugins = true;
    / =javascript_tag do
    /   = yield(:jstemplates)
  %body
    = yield
